[2016-01-06 12:50] jnehring opened #1 "Import rate limiting filter as basic service"
Add unit test

[2016-01-06 13:35] jnehring opened #2 "Create basic service eu.freme.bservices.test-helper"
- Add code from eu.freme.common.test to the new basic service
- Add mockup endpoints
- Add unit tests

[2016-01-06 13:47] jnehring opened #3 "Add filtercontroller as basic service"
- move codes
- move unit tests

[2016-01-06 13:48] jnehring opened #4 "Add logging filter as basic service"
- Move code
- Move unit tests

[2016-01-06 13:54] jnehring opened #5 "Add missing pieces to UserControllerTest"
Move all tests from old UserControllerTest to new UserControllerTest

[2016-01-06 14:58] jnehring opened #6 "Create XML configuration for user-controller"
For integration in https://github.com/freme-project/freme-packages/issues/1

[2016-01-07 11:03] #6 closed, assigned to jnehring

[2016-01-07 11:52] jnehring opened #7 "Make pipelines a basic service"
- package eu.freme.bservices.pipelines
- Move codes from pipelines repository to this repository
- Move tests from broker to this repository
- Create spring configuration

[2016-01-07 11:54] jnehring opened #8 "Make e-Internationalization a basic service"
- Move codes from e-Internationalization repo to this repo
- Move filter and tests from broker to this repo
- The codes from the two repos should be kept in two separate packages `eu.freme.bservices.internationalization.lib` and `eu.freme.bservices.internationalization.filter` so there is still a library that can be used independently from FREME.
- Create XML configurations

[2016-01-08 14:21] jnehring opened #9 "Register git commit hook for Jenkins"

[2016-01-08 14:22] jnehring opened #10 "Enable unit tests in Jenkins"
Right now the Jenkins build runs with mvn clean deploy -DskipTests=true because the unit tests hang. They do not fail, they are just very slow and after 30 minutes i stopped the build.

[2016-01-08 14:36] jnehring opened #11 "Implement package-maker"
The package maker should create a runnable application. This is implemented as a basic service. When the basic service is on the classpath then `mvn package` creates the distribution.
- Make a package with a folder src/main/scripts
- Copy maven assembly plugin configuration from broker (part of pom.xml + assembly.xml)
- Copy the scripts from the brokers src/main/scripts

The package maker creates

[2016-01-12 14:05] jnehring opened #12 "Improve assembly"
- The assembly is generated in a subfolder (target/FREME-0.1-SNAPSHOT-freme-assembly/FREME-0.1-SNAPSHOT/freme-package). It should be a folder that can be found easier.
- In bin and config folders the unnecessary subfolders "assemblies" should be removed.

[2016-01-12 14:06] #11 closed, assigned to jnehring

[2016-01-13 13:43] #10 closed, assigned to PeterBourgonje

[2016-01-13 18:12] josauder opened #13 "Create Example for persistance entity in b-services"
Any entity created in bservices clashes with entities created in FREMECommon - could please you provide a small example Entity (containing just an ID) in bservices which gets properly created in the database?

[2016-01-14 08:19] #9 closed, assigned to PeterBourgonje

[2016-01-18 20:48] josauder opened #14 "EInternationalization Logging Problems"
@ArneBinder I added the EInternationalizationFilter to the filter-controller branch. The filter seems to be working as intended but I get the following message when running the Test for it.

[code]

Which results in all messages being logged as errors (???) and the debugger/console output not working reliably. Can you reproduce this error?

If yes, I propose that we switch all SLF4J loggers to Log

[2016-01-19 11:19] ArneBinder opened #15 "fix jenkins"
Now, it compiles, simply FREMEcommon had to be recompiled. But the tests fail. The Tomcat could not start, because the configuration yaml files of the submudules aren't found. I think this is caused by spaces in the file path, see:

[code]

I had a similar issue at my local machine which I could fix by removing the space.

@jnehring how can we fix this? Or who can fix this?

[2016-01-19 12:16] #5 closed, assigned to ArneBinder

[2016-01-19 12:29] ArneBinder opened #16 "add postprocessing filter as basic service"

[2016-01-19 12:29] #3 closed, assigned to ArneBinder

[2016-01-19 13:38] #16 closed, assigned to ArneBinder

[2016-01-20 19:04] #14 closed, assigned to josauder

[2016-01-21 20:34] #2 closed, assigned to ArneBinder

[2016-01-22 13:18] #15 closed, assigned to jnehring

[2016-01-22 13:28] #1 closed, assigned to josauder

[2016-01-22 13:35] ArneBinder opened #17 "general package naming conventions"
Proposition:
1. Filters have the maven groupIds `eu.freme.bservices.filter` (like @jnehring proposed in rate-limiter, see [here](https://github.com/freme-project/basic-services/blame/0cc8ac07721256d0bc2d59b2ed3e173b438c8607/rate-limiter/pom.xml#L8-L9))
   and controller have the maven groupIds `eu.freme.bservices.controller`
   Consequently, the module names respectively the subfolders containing

[2016-01-22 16:00] #7 closed, assigned to nobody

[2016-01-25 15:41] #8 closed, assigned to josauder

[2016-01-25 15:43] #4 closed, assigned to josauder

[2016-01-26 21:37] ArneBinder opened #18 "add missing dependencies to certain modules"
- jena
- spring boot security

[2016-01-27 10:40] #18 closed, assigned to nobody

[2016-01-28 16:47] ArneBinder opened #19 "adapt changes from e-internationalization"
Adapt changes in e-internationalization related to [this issue](https://github.com/freme-project/e-Internationalization/issues/30) to bservices.internationalization.

[2016-01-28 16:56] ArneBinder opened #20 "optimize test execution"
Spring (re-)starts for every package. This needs a lot of time when re-building the whole basic-services. Could this be avoided?

[2016-02-01 15:05] #17 closed, assigned to jnehring

[2016-02-02 12:45] #12 closed, assigned to nobody

[2016-02-03 10:06] #20 closed, assigned to ArneBinder

[2016-02-03 10:37] ArneBinder opened #21 "adapt changes concerning PostprocessingFilter"
changes related to forward exceptions thrown in the original request and during the postprocessing

[2016-02-12 14:58] jnehring commented on #13
done

[2016-02-12 14:58] #13 closed

[2016-02-16 12:38] jnehring opened #22 "Update persistence codes"
Move persistence codes of pipelines and filter from FREMECommon to their repositories

[2016-02-17 11:58] ArneBinder commented on #22
implemented.

[2016-02-17 11:58] #22 closed

[2016-02-22 13:44] jnehring opened #23 "Migrate CORS filter to a basic service"

[2016-02-22 15:01] jnehring commented on #23
done. next step: add this to the new freme broker

[2016-02-23 08:32] jnehring opened #24 "Repair freme-package"
The freme-package does no longer work. Right now we use a workaround using the spring boot maven plugin to create a runnable application. But this solution is not good.

The problem is that the maven assembly plugin cannot find the dependency on freme-package artifact.
Therefore it cannot find the scripts and assembly.xml.

[2016-02-23 14:14] jnehring commented on #23
done

[2016-02-23 14:15] jnehring commented on #24
It worked as soon as i removed the parent artifact from package-maker.

[2016-02-23 15:29] jnehring commented on #24
It only works when you manually do an mvn install of the package-parent artifact before mvn package on the freme-package.

[2016-02-26 09:32] jnehring opened #25 "Create new packaging service"
The old one keeps failing - see #24. The new service should not use the maven assembly plugin.

[2016-02-26 09:32] jnehring commented on #24
closed because of #25

[2016-02-26 09:32] #24 closed

[2016-02-26 14:36] jnehring commented on #25
i created a new assembly. you still use mvn package to generate the package. @PeterBourgonje @jmschnei can you try the new assembly?

[2016-03-01 16:41] ArneBinder commented on #19
Done.
Close this or wait for further changes?

[2016-03-01 19:21] ArneBinder commented on #21
Implemented.

[2016-03-01 19:21] #21 closed

[2016-03-02 09:14] #19 closed

[2016-03-02 16:45] ArneBinder opened #26 "write test(s) for postprocessing filter: check different outformats"
At the moment only outformat=csv (default) is checked.

[2016-03-07 12:35] jnehring opened #27 "Implement proxy service"
The proxy basic service redirects API calls to another URL. It is configured via a file "proxy.yaml" that has this format:

[code]

In this example, all calls to /e-entity/freme-ner/documents will be proxied to the target endpoint. The proxy copies

* request headers
* query string parameters
* request body

I think the best way to implement the proxy is a filter.

[2016-03-07 12:49] jnehring opened #28 "Implement input from URL"
According to the [NIF specifications](http://persistence.uni-leipzig.org/nlp2rdf/specification/api.html) allow input from URL. This is a basic service "url-input". This is a filter that becomes active when "intype=url" is set. In this case it will transform the request to "intype=text". The new request will have as body the content of the URL.

Please implement this in a streaming fashion so it do

[2016-03-07 15:28] jnehring opened #29 "Anything to NIF converter"
Please implement an anything to NIF converter. You can send plaintext or the input formats that e-Internationalisation supports to the endpoint and it returns NIF. Use the API endpoint /toolbox/nif-converter

[2016-03-10 01:58] ArneBinder commented on #29
Which tests should be added?

[2016-03-11 00:48] ArneBinder commented on #29
Implemented controller + tests.

[2016-03-11 02:31] ArneBinder commented on #29
TODO: add further tests
* formats supported by e-Internalisation (except xml)

[2016-03-11 09:06] jnehring commented on #29
I think that e-Internationalisation should work out of the box because of the e-Internationalisation filter. Or do you mean you just need to write tests for e-Internationalisation?

[2016-03-15 12:20] jnehring commented on #27
I finished this task

[2016-03-15 12:20] #27 closed

[2016-03-22 11:26] #25 closed

[2016-03-22 13:29] jnehring opened #30 "Slashes in proxy service"
This does not work:

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&outformat=json-ld&language=en&dataset=dbpedia

This works:

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&outformat=json-ld&language=en&dataset=dbpedia

The diffe

[2016-03-24 16:05] jnehring commented on #30
Problem solved.

[2016-03-24 16:05] #30 closed

[2016-03-30 09:00] jnehring opened #31 "Allow configuration of URLs by ManagedResourceController"
Right now all owned resources are managed by URLs like `/e-link/manage`. Before this used to be `/e-link/templates`. Now some codes are broken because the URLs have changed. Please add the functionality to configure the URLs of ManagedResourceController and change the URLs to how they were before.

I think we need to change back the URLs of these endpoints (maybe more?):

* manage e-link templates

[2016-04-04 10:01] ArneBinder commented on #29
just the tests

[2016-04-04 11:31] jnehring commented on #31
Please update the documentation also: http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-developers/implementing-restricted-access-to-database-resources.html

[2016-04-04 18:49] ArneBinder commented on #31
Implemented the functionality, but the wrong endpoints start on broker-dev. I assume that there is a version issue, my IDE loads still common2 into my local maven repo. @jnehring any ideas?

[2016-04-05 07:32] jnehring commented on #31
The tilde-services project pulled in the old common2 artifact. I fixed this. Please check if it works now.

This is not necessary. It is ok when this configuration is done in the source code.

[2016-04-05 18:11] ArneBinder commented on #31
so can we close this? The documentation is already updated.

[2016-04-06 07:47] #31 closed

[2016-04-06 12:56] jnehring commented on #29
Please add documentation to the [full API documentation](http://api-dev.freme-project.eu/doc/api-doc/full.html). Rename section "postprocessing" to "Toolbox" and add the new API endpoint there.

[2016-04-06 13:47] ArneBinder opened #32 "internationalization produces local files"
Tests related to internationalization produce temporary files in the local home directory, which are not deleted afterwards.

[2016-04-06 18:33] ArneBinder commented on #29
Added tests for xliff and html, the odt test does not work. Is the odt conversion in e-internalisation broken?

[2016-04-07 08:15] jnehring commented on #29
I dont know if odt conversion is broken. I will try it out.

[2016-04-08 12:42] jnehring commented on #29
I created a test ODT and send it to the freme-dev api. I used e-Translation. It worked fine. So I think that odt conversion is not broken in e-internationalisation.

[2016-04-08 13:39] jnehring opened #33 "Postprocessing filter has problems"
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&filter=entities-detailed-info&outformat=csv&input=Welcome+to+Berlin!

produces
[code]

The exception is odd. And the request should work. It works on [freme-live](http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&input=Welcome+to+Be

[2016-04-08 14:00] jnehring commented on #33
my mistake

[2016-04-08 14:00] #33 closed

[2016-04-08 16:49] ArneBinder commented on #29
seems to work, but the the odt test still fails ([it](https://github.com/freme-project/basic-services/blob/master/controllers/nifconverter/src/test/java/eu/freme/bservices/controllers/nifconverter/NifConverterControllerTest.java#L89) is excluded)

[2016-04-11 10:51] ArneBinder opened #34 "[internationalization] odt conversion generates strange uris"
The generic URI `http://freme-project.eu/~okapi-23_OpenOfficeFilter_8046756076162932045.tmp`
causes problems for tests (see #29), it changes every api call although the input stays the same.

Full response:
[code]

[2016-04-11 10:51] ArneBinder commented on #29
Wait for #34

[2016-04-11 11:12] jnehring commented on #34
I think that this URI is ok and it is only a problem for the unit tests. In general it is ok that e-Internationalisation generates a new URI for each API call.

@ArneBinder can you change the unit tests in a way that it can cope with these changing URIs?

[2016-04-11 11:30] ArneBinder commented on #34
OK, I will try this.

[2016-04-11 12:44] ArneBinder commented on #34
Done.

[2016-04-11 12:44] #34 closed

[2016-04-11 12:45] ArneBinder commented on #29
Done.

[2016-04-11 12:45] #29 closed

[2016-04-12 12:42] jnehring opened #35 "Release package-maker"
For DKT Project

[2016-04-15 11:43] ArneBinder opened #36 "[proxy-filter] allow path parameters"
the proxy filter can not handle path paremters

[2016-04-15 13:22] ArneBinder commented on #36
implemented

[2016-04-15 13:22] #36 closed

[2016-04-15 14:07] ArneBinder opened #37 "[proxy-filter] wrong status code and content length"
In [ProxyServlet.doProxy](https://github.com/freme-project/basic-services/blob/master/filters/proxy-filter/src/main/java/eu/freme/bservices/filter/proxy/ProxyServlet.java#L48): `proxyService.writeProxyToResponse(response, proxy);` does not effectively modify the status code and content length of the response.

[2016-04-18 08:27] bjdmeest commented on #23
When executing the following code, first a HTTP OPTIONS is triggered, which takes >30s, after which the HTTP POST fails because `No 'Access-Control-Allow-Origin' header is present on the requested resource`

[code]

[2016-04-18 08:37] jnehring commented on #23
@bjdmeest I think you were using the CORS filter already for some time, e.g. in the CKEditor plugin, and it did not make problems. Am I right?

@ArneBinder please try to reproduce the error and give a recommendation on how to proceed.

[2016-04-18 08:41] bjdmeest commented on #23
Yes, indeed. I think it might be a problem with the OPTIONS request not completing well.

[2016-04-18 09:39] ArneBinder commented on #23
There was a problem with our server, @bjdmeest please have a look if the problem is solved and close this ticket, otherwise reassign to me.

[2016-04-18 09:42] bjdmeest commented on #23
Fixed, thanks!

[2016-04-18 09:42] #23 closed

[2016-04-18 13:12] jnehring opened #38 "Make load balancer configurable"
In branch "cloud basic services" in project "load balancer" make the load balancing configuration configurable using these options:

[code]

Implement this in LoadBalancerConfiguration.getProxyConfigurations

[2016-04-18 13:15] jnehring opened #39 "fix load balancing example"

[2016-04-18 16:52] ArneBinder commented on #38
implemented.

[2016-04-18 16:52] #38 closed

[2016-04-19 09:19] m1ci opened #41 "mime type for XML"
While testing the XML to RDF conversion using the NIF converter I noticed that only text/xml is supported, application/xml not.

application/xml should be added as valid mime for XML

[2016-04-19 09:22] m1ci opened #42 "wrong language tags when converting XLIFF to NIF"
While testing the NIF converted I noticed that there are wrong language tags.
The input document is [xliff-doc.txt](https://github.com/freme-project/basic-services/files/225593/xliff-doc.txt)
The cURL is
`
curl -X POST --header "Content-Type: application/x-xliff+xml" --header "Accept: text/turtle" -d @xliff-doc.txt "http://api-dev.freme-project.eu/current/toolbox/nif-converter" -v
`
In the results

[2016-04-19 09:24] m1ci opened #43 "ODT not accepted by the NIF converter"
For
`curl -X POST --header "Content-Type: application/x-openoffice" --header "Accept: text/turtle" -d @test.txt "http://api-dev.freme-project.eu/current/toolbox/nif-converter" -v
`
where the document is [test.txt](https://github.com/freme-project/basic-services/files/225598/test.txt)

I get `HTTP/1.1 406 Not Acceptable`, however it should be valid and accepted.

[2016-04-19 09:25] m1ci opened #44 "report from the tests of the NIF converter"
https://docs.google.com/document/d/1ROpsVEJn2-22sCIfoZnfFrJ52qVM6gzB932ycQxTtS8/edit

[2016-04-19 10:43] ArneBinder commented on #43
@m1ci this is a curl issue. Please try this:

[code]

[2016-04-19 10:44] m1ci commented on #43
right, you are right, closing the issue

[2016-04-19 10:44] #43 closed

[2016-04-19 14:45] jnehring commented on #35
done. see freme-project/freme-packages#11

[2016-04-19 14:45] #35 closed

[2016-04-20 07:38] jnehring commented on #42
We need to wait until we have a developer for e-Internationalization until we can fix this issue.

[2016-04-20 07:39] jnehring commented on #41
@ArneBinder please implement

[2016-04-20 07:41] jnehring commented on #44
Thanks for this document I read through it. Everything that requires action is covered by GitHub issues so I close this issue.

[2016-04-20 07:41] #44 closed

[2016-04-20 14:11] jnehring commented on #39
done.

[2016-04-20 14:11] #39 closed

[2016-04-25 18:30] ArneBinder commented on #41
@jnehring the artifact (common) was not deployed successful, it is already versioned as release (0.6). How to proceed?

[2016-04-26 10:52] jnehring commented on #41
I solved the problem of deployment by changing the version number of FREME common to 0.7-SNAPSHOT.
@ArneBinder is this feature implemented?

[2016-04-26 11:08] ArneBinder commented on #41
Yes.

[2016-04-26 11:08] #41 closed

[2016-04-26 14:52] jnehring opened #45 "Default outformat does not work"
This API call
[code]

produces this output:

[code]

[2016-04-26 14:56] jnehring commented on #32
@ArneBinder has an idea how to solve the issue. Please implement and test it.

[2016-04-26 16:04] #45 closed

[2016-04-26 20:13] ArneBinder opened #46 "[postprocessing-filter] and [proxy-filter] dont work together"
Please try this curl request:
[code]

result:

[code]
I think [this](https://github.com/freme-project/basic-services/blob/master/filters/proxy-filter/src/main/java/eu/freme/bservices/filter/proxy/ProxyService.java#L115) collides with eu.freme.bservices.filters.postprocessing.AccessibleHttpServletResponseWrapper.

It seems to be that the result is not written back correctly, so the input for the po

[2016-04-27 07:23] jnehring commented on #46
I will examine and fix this before the release.

[2016-04-28 07:17] jnehring commented on #46
problem solved

[2016-04-28 07:17] #46 closed

[2016-05-09 08:17] jnehring commented on #26
This is not top priority but please write these tests when you have time to do so.

[2016-05-17 09:05] jnehring commented on #32
The first try to fix the issue was not succesful. Maybe this issue is related to https://github.com/freme-project/FREMECommon/issues/22

[2016-05-20 08:13] jnehring opened #47 "Processing of XLIFF fails"
This curl (with this [data.txt](https://github.com/freme-project/basic-services/files/274148/data.txt))

[code]

fails with this message:

[code]

@ArneBinder please examine the problem.

The bug happens also on the documentation homepage (see https://github.com/freme-project/Documentation/issues/230)

[2016-05-24 16:23] ArneBinder commented on #47
First, the input parameter `application/x-xliff+xml` has to be encoded. But then it is not forwarded correctly to freme-ner by the proxy filter. The worker says (have a look at the `+` character which is replaced by whitespace):

[code]

As you can see, `application/x-xliff+xml` (with the `+` char) is in the list list of acceptable mime types/informat values.

It looks like the query parameters ha

[2016-05-24 17:43] #47 closed

[2016-05-24 17:46] ArneBinder commented on #47
I have implemented this.

[2016-05-30 09:55] ArneBinder opened #48 "[pipelining][POST /chain/id] use in-/outformat and content-type/accept header values"
At the moment, the pipelining endpoint discards these informations. It should work like @andish proposed [here](https://github.com/freme-project/Documentation/issues/171#issuecomment-221842976).

Furthermore, I would recommend to forward **all** headers and parameters which were send to the pipeline endpoint to the first request (and overwrite defined ones in the pipeline) except outformat and Acc

[2016-05-30 10:55] jnehring commented on #48
Good idea! Please implement.

[2016-05-30 14:00] ArneBinder commented on #48
implemented.

[2016-05-30 14:00] #48 closed

[2016-05-30 18:28] ArneBinder opened #49 "[internalisation-filter] examine if xml roundtripping would work"
Check if adding the xml mime type to roundtrippingFormats will enable roundtripping for xml.

[2016-05-31 10:04] ArneBinder commented on #49
This works, xml was added to the roundtripping formats in the internalization-filter.

[2016-05-31 11:20] jnehring commented on #49
I reopen this issue so we do not forget it. We still need to consider if we can claim that XML works as format for roundtripping.

[2016-05-31 12:42] ArneBinder commented on #49
I already tried [this file](https://github.com/freme-project/basic-services/blob/master/internationalization/src/test/resources/nifConversion/src1/test1.xml). But we can check other xml files, if you want.

[2016-06-08 09:38] jnehring opened #50 "SPARQL filter does not work"
[code]

with this [data.txt](https://github.com/freme-project/basic-services/files/304437/data.txt)

produces

[code]

[2016-06-13 09:47] ArneBinder opened #51 "create XSLT Transform endpoint"
This endpoint should transform (xml) content via xslt style sheets. These style sheets are saved in the FREME database.
* Create style sheet management endpoints: create, update, delete, get
    * use a (descriptive) name as id DONE
    * test it DONE
* Create transformation endpoint DONE
   * use the java lib [Saxon-HE](http://saxonica.com/download/opensource.xml) as XSLT processor
   * check, if

[2016-06-13 09:56] ArneBinder commented on #50
Please use the correct endpoint: /toolbox/**convert**/documents/extract-entities-only. Where did you find this depricated call?

[2016-06-13 10:08] fsasaki commented on #51
Looks good, thanks!

[2016-06-14 07:37] jnehring commented on #50
The deprecated call causes a bug in FREME workflow editor (see linked issue).  Thanks for the hint, with the updated endpoint the API call works.

[2016-06-14 07:37] #50 closed

[2016-06-14 07:41] jnehring commented on #51
Looks good! Please name the new basic service "xslt-converter". The API endpoints should be /toolbox/xslt-converter/documents/{converter-name}, /toolbox/xslt-converter/manage, ...

[2016-06-15 13:01] jnehring commented on #49
I tried some XML files. It works, also on complicated XML files like our pom.xml files.

This XML file:

[code]

it gets converted to this turtle:

[code]

I see one bug: The converter assumes that all text is English. I do not know how it came to this conclusion. I think it just marks all text as English which is wrong.

Further we need to update the [e-internatoinalisation documentation](http://

[2016-06-22 15:17] ArneBinder commented on #49
Furthermore, the roundtripping test with long-html.html seems to be broken.

[2016-06-22 15:23] ArneBinder opened #52 "[internalisationFilter] testRoundTripping with long-html.html is broken"
It fails with this exception:
[code]

[2016-06-28 13:50] ArneBinder opened #53 "[e-internalisation] The converter assumes that all text is English"
See [this comment](https://github.com/freme-project/basic-services/issues/49#issuecomment-226179853).

[2016-06-28 13:58] ArneBinder commented on #52
Is this related to [this](https://github.com/freme-project/e-Internationalization/issues/9)?

[2016-06-28 14:00] ArneBinder commented on #52
@katia-vistatec do you have any ideas on this issue?
thanks!

[2016-06-28 14:07] katia-vistatec commented on #52
Hi,
which unit test is it?

[2016-06-28 14:20] ArneBinder commented on #52
It is [eu.freme.bservices.filters.internationalizationfilter.InternalizationFilterTest.testRoundTripping](http://rv1443.1blu.de:8082/job/BasicServices/264/eu.freme.bservices.filters$internationalization-filter/testReport/eu.freme.bservices.filters.internationalizationfilter/InternalizationFilterTest/testRoundTripping/).

[2016-06-28 14:37] ArneBinder commented on #49
@jnehring why do we not include xml?

I added the sentence `It is restricted to write named entity annotations and named entity links into the output document.` and added `english` to `At the moment the round-tripping is only available for english HTML documents.`

This might be a bug in the [InternalisationApi](https://github.com/freme-project/basic-services/blob/master/internationalization/src/m

[2016-06-28 15:48] ArneBinder commented on #26
Implemented except for content check with outformat=json-ld.

[2016-06-28 15:50] katia-vistatec commented on #52
Hi,
from the unit test using the long-html.html file it is a String index out of range: -6.
![error](https://cloud.githubusercontent.com/assets/19167454/16422462/5cad759c-3d50-11e6-9a66-48081d33804e.PNG)

[2016-06-28 15:52] katia-vistatec commented on #52
It happens when calling the substring method with the first index greater then the second. This happen in:
originalFileString.append(skeletonContext.substring(skeletonLastIdx,	tuRes.getWasConvFromStartIdx()));

[2016-06-28 15:55] katia-vistatec commented on #52
skeletonLastIdx is 70074 and  tuRes.getWasConvFromStartIdx() is 70068.

[2016-06-29 15:55] katia-vistatec commented on #52
I pushed the changes to the repository and now the unit test for the file /roundtripping/long-html.html works. The problem because two text units for the test case had the same wasConvFromStartIdx and wasConvFromEndIdx . For the first text unit skeletonLastIndex is updated to wasConvFromEndIdx (70074) and so for the second text unit skeletonLastIndex = 70074 and wasConvFromStartIdx= 70068 and when

[2016-06-29 15:58] katia-vistatec commented on #52
There are similar problems (index out of range:-14 and index out of range:-18 ) for issue #35 and #40

[2016-06-30 10:02] ArneBinder commented on #52
@katia-vistatec thanks a lot for this fix!
But the roundtrippingTest in the internalisation-**filter** is still broken. I still get the time out Exception mentioned above. We still have to examine, why this happens.

[2016-06-30 10:17] katia-vistatec commented on #52
Ok. I solved another problem. I will have a look at it.

[2016-06-30 11:26] ArneBinder commented on #52
@katia-vistatec thanks again! But do not invest to much into this, I can have a look when I'm back in office. I do not know if it is really internalisation related or just an issue of the filter.

[2016-06-30 14:04] PeterBourgonje opened #54 "improvement for start_server.sh"
We're using this piece of the FREME code in the DKT project and sometimes there's a bit of confusion when the start_server.sh script happily reports 'Started FREME', also when it failed (e.g. it's just an echo, doesn't check for anything).
 I'm no bash wizard and the following would have to be tested first, but maybe you can consider something like:

[code]

Where, if it didn't find a process with

[2016-07-06 14:07] ArneBinder commented on #51
The transformation endpoint is implemented. Please try:
[code]

**Note**: for any curl call the Content-Type header has to be set. Otherwise Curl defaults to `application/x-www-form-urlencoded` which causes url encoding of the body.

You can upload stylesheets like this:
[code]

This call uploads the `tei2temp-html` stylesheet. Again, use `Content-Type: text/html`. And a valid `token`.

If `conten

[2016-07-06 15:50] ArneBinder opened #55 "[e-Internalisation] html roundtripping: wrong indices cause bad html"

[2016-07-06 22:51] fsasaki commented on #51
Great! One question: you wrote

Why do you use the content type text/html? The stylesheet also has an XML content type.

On

This would not be needed for the stylesheet upload but the HTML input.

I will provide the other stuff later.

Thanks again!

[2016-07-07 09:20] ArneBinder commented on #51
Oh, my mistake, I meant text/xml.

For sure, I meant the transformation functionality.

[2016-07-08 08:22] fsasaki commented on #51
Thanks. Attached is a stylesheet that could be used to process HTML input with XML output.
[html5-preprocessing.txt](https://github.com/freme-project/basic-services/files/353772/html5-preprocessing.txt)

Also attached is a build file that shows how the saxon xslt processor is used, see the target "preprocess-html5", to process HTML5 input. Does that help?
[html5-preprocessing.txt](https://github.c

[2016-07-08 09:00] ArneBinder commented on #51
@fsasaki thanks! But it looks like the first file was attached twice.

[2016-07-08 09:29] fsasaki commented on #51
ah, sorry! Here is the second file, the built file.

[build.txt](https://github.com/freme-project/basic-services/files/353884/build.txt)

[2016-07-09 10:21] fsasaki opened #56 "[e-internationalisation] enhance output"
Currently the output has

but not

Would it be possible to store in its-term-info-ref the NIF subject URI for the term - I am making something up below:

With this URI

a tool easily can easily refer to other term related information (term ID, domain ID, related lexicon, translation suggestions).

[2016-07-11 06:19] andish commented on #56
This could be a solution as ```its-term-info-ref``` can't hold multiple term references.
But in this case including the NIF object in HTML is mandatory (e.g. in ```script``` tag), because the NIF document will not be resolvable via URL. While there where direct term URIs, including the real terms in the document was optional because the term content could be downloaded from server ```term.tilde.co

[2016-07-11 07:55] fsasaki commented on #56
Indeed.

Indeed.

[2016-07-11 10:25] jnehring commented on #54
Good idea! Two comments:

I think a better message is: "FREME failed to start. Please check the logs".

Your script is a good step in the right direction. We could further improve it. Instead of directing the scripts output directly to /dev/null we could scan it for the text "FREME has been started in xyz seconds". When this message is displayed, then FREME started correctly. The script outputs fi

[2016-07-11 10:29] jnehring commented on #26
thank you!

[2016-07-11 10:29] #26 closed

[2016-07-11 10:33] jnehring commented on #49
This is a misunderstanding. The current text does not mention XML and there we need to update the text like "At the momennt round-tripping is available for HTML and XML documents".

[2016-07-11 11:28] ArneBinder commented on #49
Oh, of course, I will fix this.

[2016-07-11 11:44] ArneBinder commented on #49
Fixed. @jnehring does [the article](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/eInternationalisation.html) look ok now? Can we close this?

[2016-07-11 18:58] fsasaki commented on #51
One more question: how could one submit a parameter? See
http://www.saxonica.com/documentation/#!using-xsl/commandline

2016-07-08 11:00 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-07-12 13:37] jnehring opened #57 "Create user does not work"
When I try to create a user via the API then the API call never finishes.

[code]

It is the same behaviour on dev and live.

[2016-07-12 14:13] jnehring opened #58 "Error message when URL does not exist"
When an API endpoint does not exist (e.g. http://api-dev.freme-project.eu/current/xyz) then the request gets redirected to the proxy-filter basic service. There it produces this exception:

[code]

This is wrong for two reasons:

* The response code should be 404 and the message should be "The requested API endpoint does not exist"
* The request should not be redirected to the proxy controller but

[2016-07-13 07:17] ArneBinder commented on #51
@fsasaki I tried html (with the `identity-transformation` stylesheet you uploaded) and it works as expected:
[code]

result:
[code]

Furthermore, if you set the header `Accept: text/html` you get:
[code]

[2016-07-13 07:33] jnehring opened #59 "[e-Internationalization] request does not finish"
When I try to submit a longer request with [SB50.txt](https://github.com/freme-project/e-services/files/304723/SB50.txt) then the request never finishes.

[code]

[2016-07-13 07:38] jnehring commented on #52
What is the status here? @ArneBinder did you take a look at this?

[2016-07-13 07:46] fsasaki commented on #51
Very nice! It works with other stylesheets too, see
http://api-dev.freme-project.eu/current/toolbox/xslt-converter/manage
I did not yet try the submission of parameters, see my previous question in
this issue.

2016-07-13 9:17 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-07-13 08:02] ArneBinder commented on #51
What kind of parameters you want to submit? Paramters like this:

This isnt yet implemented. Should I do this?

[2016-07-13 08:13] ArneBinder commented on #52
It seems to be caused by [this bug](https://github.com/freme-project/basic-services/issues/59).

[2016-07-13 08:22] fsasaki commented on #51
Yes, parameters as name value pairs, that would be great to have as a
feature.

2016-07-13 10:02 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-07-13 08:40] jnehring commented on #52
No need to disable it, lets wait until it is solved.

[2016-07-13 13:57] katia-vistatec commented on #56
Hi Felix, could you give me an example input file and the curl?

[2016-07-13 14:11] fsasaki commented on #56
Sure, see example input with CURL and output, with content type text/turtle.

- Felix

2016-07-13 15:57 GMT+02:00 katia-vistatec <notifications@github.com>:

@prefix cc:    <http://creativecommons.org/ns#> .
@prefix :      <https://term.tilde.com/terms/> .
@prefix void:  <http://rdfs.org/ns/void#> .
@prefix xsd:   <http://www.w3.org/2001/XMLSchema#> .
@prefix itsrdf: <http://www.w3.org/2005/11/its

[2016-07-13 14:11] ArneBinder commented on #51
Ok, I will implement this.

Added the xlt-converter endpoints to the api doc.

[2016-07-13 16:57] fsasaki opened #60 "[e-internalisation] HTML annotations wrongly merged"
With the attached input I get the attached output. The output has some wrongly merged and repeated text, and the string "undefined" appears.
[html-output.txt](https://github.com/freme-project/basic-services/files/361998/html-output.txt)
[html-input.txt](https://github.com/freme-project/basic-services/files/361999/html-input.txt)

[2016-07-13 17:09] katia-vistatec commented on #56
Hi Felix,
the itsrdf:term           "yes" ;
itsrdf:termInfoRef    :652483 , :2739744 .

are added by e-terminology service or am I wrong?

[2016-07-13 17:46] fsasaki commented on #56
Hi Katia, yes, that is correct.

[2016-07-14 07:27] fsasaki commented on #51
I created
http://api-dev.freme-project.eu/current/toolbox/xslt-converter/documents/xslt-with-param
if there is no external parameter given, the output is

[2016-07-14 07:45] fsasaki commented on #51
With the attached curl request I can process a well-formed (X)HTML document. But if I set the content type to text/html, I get the error

  "exception": "eu.freme.common.exception.FREMEHttpException",
  "path": "/toolbox/xslt-converter/documents/html-to-xliff20",
  "message": "The XML parser reported one validation error",
  "error": "Internal Server Error",
  "status": 500,
  "timestamp": 1468482

[2016-07-14 07:56] jnehring opened #61 "[Pipelines] NullPointerException when parameters are empty"
This request

[code]

leads to InternalServerError and this log

[code]

[2016-07-14 08:09] jnehring opened #62 "[Pipelines] Problem when pipeline step does not contain header"
This pipeline

[code]

submitted to endpoint `http://localhost:8080/pipelining/chain`

causes

[code]

with log

[code]

I think the problem is that there is no header defined in the pipeline.

[2016-07-14 08:13] jnehring commented on #61
When the parameters where empty, then a hashmap was not initialized leading to the NullPointerException. I fixed the problem and now the request works.

[2016-07-14 08:13] #61 closed

[2016-07-14 08:22] jnehring opened #63 "[XSLT Converter] Dummy title"
Sending this XML to the XSTL Converter

[code]

produces this HTML

[code]

I am not sure why it produces "dummy title". Wouldnt it be better to leave the title empty?

CURL to reproduce:

[code]

[2016-07-14 08:45] fsasaki commented on #63
Yes, makes sense. On the other hand an HTML validator creates an error if
the "title" element is empty. The XSLT processor used in FREME deploys the
HTML parsing / validation library validator.nu for processing HTML input
with XSLT. That is the reason why "title" has some dummy content. But maybe
it should be marked more explicitly.

2016-07-14 10:22 GMT+02:00 Jan Nehring <notifications@github.com

[2016-07-14 13:35] katia-vistatec commented on #56
Hi Felix, but they are added without passing for internationalization API?

[2016-07-14 13:56] fsasaki commented on #56
Hi Katia,

 itsrdf:term "yes" ;
itsrdf:termInfoRef :652483 , :2739744 .

is added in the NIF representation - that is independent of the
internationalization
API.

2016-07-14 15:35 GMT+02:00 katia-vistatec <notifications@github.com>:

[2016-07-14 14:15] katia-vistatec commented on #56
Ok. I have to process the Model associated to the nif in the response body and then set the response.

[2016-07-14 14:22] jnehring commented on #49
Well done, thanks!

[2016-07-14 14:22] #49 closed

[2016-07-14 14:35] jnehring commented on #54
@PeterBourgonje I tested your script. It always reports that FREME did not start, but it starts. Did the script work on your machine?

[2016-07-14 14:45] PeterBourgonje commented on #54
I'm stupid. I left the following (debugging) line in there in the version above, hard setting the pid:
pid=10401
If I take that out, it works for me. That is; it reports it started. If I change the actual starting line to something erroneous (starting with "ohup" for example, instead of "nohup"), it reports that it didn't start. Probably there are a couple more scenario's though for which I haven'

[2016-07-14 14:54] jnehring commented on #37
The code passage mentioned in [ProxyServlet.doProxy](https://github.com/freme-project/basic-services/blob/master/filters/proxy-filter/src/main/java/eu/freme/bservices/filter/proxy/ProxyServlet.java#L48) does not exist any longer because it was re-written. Also I cannot reproduce this error any longer. So I think the issue was solved by rewriting the code.

[2016-07-14 14:54] #37 closed

[2016-07-14 15:10] jnehring commented on #54
pid=10401

I removed the line, now it works. I also changed the error message and increased the timeout to 20 seconds for people with slow laptops.

We will find out. I merged your code in the master branch and it already started successfully the freme-dev server. So I think this issue is solved.

[2016-07-14 15:10] #54 closed

[2016-07-15 08:14] jnehring commented on #52
I configured JUnit to ignore the test so it does not cause trouble during the release.

[2016-07-15 12:26] fsasaki commented on #60
any news on this, @katia-vistatec ? Is this depending on a separate issue?

[2016-07-15 16:01] katia-vistatec commented on #56
[out2.txt](https://github.com/freme-project/basic-services/files/366383/out2.txt)
[out.txt](https://github.com/freme-project/basic-services/files/366384/out.txt)

[2016-07-15 16:01] katia-vistatec commented on #56
curl -X POST --header "Content-Type: text/html" --data "@terminology.html" --header "Accept: text/turtle" "http://localhost:8080/e-terminology/tilde?informat=text/html&outformat=text/turtle&source-lang=en&target-lang=nl" > out.txt
curl -X POST --header "Content-Type: text/html" --data "@terminology.html" --header "Accept: text/html" "http://localhost:8080/e-terminology/tilde?informat=text/html&out

[2016-07-15 16:07] katia-vistatec commented on #56
Hi Felix,
using these curls I obtain those outputs for turtle and html outformat.
There's the enrichment (termInfoRef with the subject Uri value) but still an already existing error ("of Prague." is outputed as "rague.")_ I have to see why this happen.

[2016-07-15 16:23] fsasaki commented on #56
Thanks a lot, Katja. I just tried this

curl -X POST -H "Content-Type: text/html" -H "Accept: text/html" -H
"Cache-Control: no-cache" -H "Postman-Token:
bcb0da9a-5f76-80ca-3e94-d9867964e632" -d '<!DOCTYPE html> <html
lang='"'"'en' >   <head>     <meta charset='utf-8' > <title>Example</title>
  </head>         <body> <h1>Example</h1>    <p>Welcome to the city of
Prague.</p>   </body> </html>' "
htt

[2016-07-15 16:24] katia-vistatec commented on #56
No. It isn't

[2016-07-18 15:40] katia-vistatec commented on #56
Pushed the changes to repository. The attribute its-term-info-ref appears if the right version of internationalization artifact is taken, as declared in freme-parent pom.xml.

[2016-07-18 15:40] katia-vistatec commented on #56
The output I obtain is:
<!DOCTYPE html>
<html lang="en"><head><meta charset="UTF-8">	<title>Example</title>   </head>         <body>	<h1>Example</h1>	<p>Welcome to the city <span its-term-info-ref="<http://freme-project.eu/#char=36,40>" its-term="yes">city</span>rague.</p> </body></html>

[2016-07-18 15:41] katia-vistatec commented on #56
<!DOCTYPE html>
<html lang="en"><head><meta charset="UTF-8">	<title>Example</title>   </head>         <body>	<h1>Example</h1>	<p>Welcome to the city <span its-term-info-ref="<http://freme-project.eu/#char=36,40>" its-term="yes">city</span>rague.</p> </body></html>

[2016-07-18 15:42] katia-vistatec commented on #56
<p>Welcome to the city <span its-term-info-ref="<http://freme-project.eu/#char=36,40>" its-term="yes">city</span>rague.</p>

[2016-07-18 15:49] katia-vistatec commented on #56
Anyway the output is not exactly the correct one because in the nif skeleton there aren't new lines  while there are in the enriched nif. I think the same happen for issue #60 and so I am inserting new lines in the nif skeleton also.

[2016-07-18 15:59] fsasaki commented on #56
Thanks, Katia. With below curl request

curl -X POST -H "Content-Type: text/html" -H "Accept: text/html" -H
"Cache-Control: no-cache" -H "Postman-Token:
d1c39cd2-1328-0aa2-09b9-d2723b48d345" -d '<!DOCTYPE html> <html
lang='"'"'en' >   <head>     <meta charset='utf-8' > <title>Example</title>
  </head>         <body> <h1>Example</h1>    <p>Welcome to the capital of
Germany!</p>   </body> </html>' "

[2016-07-18 16:04] katia-vistatec commented on #56
Yes. Because the version of internationalization declared in freme-parent (0.4) inside <dependencyManagement> element, as default version it is not the version of internationalization on which I made the change and currently on the server. So it doesn't take the code I pushed on the repository.

[2016-07-18 16:11] fsasaki commented on #56
Ah, I see. So this is an issue with the built of FREME on the dev server.
Jan can probably fix that tomorrow.

2016-07-18 18:04 GMT+02:00 katia-vistatec <notifications@github.com>:

[2016-07-18 16:13] katia-vistatec commented on #56
Yes.

[2016-07-18 17:28] ArneBinder commented on #51
http://api-dev.freme-project.eu/current/toolbox/xslt-converter/manage/xslt-with-param
if there is no external parameter given, the output is

@fsasaki does this work for you as expected when you pass some value to `myparam`? At the moment it is assumed that parameters are atomic values, is this sufficient?

I will examine what's wrong here.

[2016-07-18 17:45] ArneBinder commented on #51
Two problem:
 * the parser needs `<!DOCTYPE html>` in the input
 * the transformer has a problem with this: `fn:parse-xml(//*[local-name()='script' and @id='orgdoc'])` in the stylesheet

[2016-07-19 08:08] jnehring commented on #63
ok thanks for the clarification. When the dummy title is needed then we should let it where it is.

[2016-07-19 08:08] #63 closed

[2016-07-19 08:16] jnehring commented on #56
I think I found the version problem. freme-parent determines the version numbers that are used all over FREME. the current version of freme-parent (0.9-SNAPSHOT) defined internationalization to be in version 0.4. Your changes that implement this fix are not implemented in 0.4 but in 0.5-SNAPSHOT.

I changed the version of internationalization to 0.5-SNAPSHOT. When I repeat [fsasakis curl request](

[2016-07-19 11:25] fsasaki commented on #51
The parameter works, see this request.

curl -X POST -H "Content-Type: text/xml" -d '<TEI xmlns="
http://www.tei-c.org/ns/1.0" xmlns:exist="
http://exist.sourceforge.net/NS/exist" version="5.0"></TEI>' "
http://api-dev.freme-project.eu/current/toolbox/xslt-converter/documents/xslt-with-param?myparam=set
externally"

2016-07-18 19:28 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-07-19 12:17] fsasaki commented on #51
Maybe we should open a separate issue on this?

On the second problem: I update the stylesheet to say
fn:parse-xml(//*[local-name()='script']), it works now with text/xml, but
still not with text/html even with the DOCTYPE html statement. See attached
request.

2016-07-18 19:45 GMT+02:00 ArneBinder <notifications@github.com>:

curl -X POST -H "Content-Type: text/html" -d '<!DOCTYPE html><html>

[2016-07-19 12:40] fsasaki opened #64 "[Pipelines] pipeline with XSLT step does not work"
I created this pipeline

http://api-dev.freme-project.eu/current/pipelining/templates/57

With the attached request I get an error. It looks like this is due to the first pipeline step. If I execute the first step not as a pipeline everything works fine. Why is that?

[curl-xslt-pipeline.txt](https://github.com/freme-project/basic-services/files/371437/curl-xslt-pipeline.txt)

[2016-07-19 13:48] ArneBinder opened #65 "[xslt-converter] content-type text/html"
Moved from https://github.com/freme-project/basic-services/issues/51#issuecomment-233614374.

I tried the request mentioned in the comment above:
[code]

I get the following result:

[code]

@fsasaki can you explain the problem with this?

[2016-07-19 13:48] ArneBinder commented on #51
I opened https://github.com/freme-project/basic-services/issues/65

[2016-07-19 13:56] fsasaki commented on #65
Strange. This is maybe a copy past or postman issue. Sorry for the noise.
Works for me too, thanks & from my side we can close this.

2016-07-19 15:48 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-07-19 14:01] ArneBinder commented on #65
ok, no problem.

[2016-07-19 14:01] #65 closed

[2016-07-19 16:05] ArneBinder commented on #57
user creation on live works.

[2016-07-19 16:16] ArneBinder commented on #64
I put your request body directly in the pipeline and send it to `http://api-dev.freme-project.eu/current/pipelining/chain` (note that you have to json encode the body):
[code]

The error result is:
[code]

@fsasaki does this help in any way?

[2016-07-19 16:20] ArneBinder commented on #64
@fsasaki the pipeline contains an error: freme-ner is called with `Accept: text/html`, but e-Link doesnt understand `text/html`.

[2016-07-19 18:52] fsasaki commented on #64
Thanks - if i change the freme-ner call to Accept: text/turtle, it works with the pipeline that has the XLIFF document in the body of the pipeline. However, i don't get it to work by calling the pipeline separately, see attached CURL request.

[curl-request-again.txt](https://github.com/freme-project/basic-services/files/372215/curl-request-again.txt)

[2016-07-20 07:19] jnehring commented on #51
@ArneBinder please close this issue and open new issues for tasks that are still open from this issue.

[2016-07-20 12:00] jnehring opened #66 "FREME cloud progress"
I have implemented the [FREME cloud basic services](https://github.com/freme-project/basic-services/tree/master/cloud) with these basic services:

* eureka-server starts the service discovery server. needs to be included in a single freme-package all over the cluster, right now in the broker.
* eureka-client adds the eureka service discovery client to a freme package. needs to be included in every

[2016-07-20 12:32] katia-vistatec commented on #60
[test.txt](https://github.com/freme-project/basic-services/files/373671/test.txt)

[2016-07-20 12:35] katia-vistatec commented on #60
Hi Felix,
in case I have in the original html <p>city</p>, the span of the enrichment is not applied. Should it appear?I have attached the file for input and output.

[2016-07-20 12:51] fsasaki commented on #60
Yes, I think so.

[2016-07-21 08:44] jnehring commented on #59
When this issue is finished, we can test https://github.com/freme-project/e-services/issues/14 again. I think the API call from this issue is also affected by this bug.

[2016-07-21 09:52] jnehring opened #67 "Create NIF 2.0 to NIF 2.1 converter"
Please create a postprocessing filter that converts from NIF 2.0 to NIF 2.1. First create the SPARQL query only. Start with freme-ner. Here are two examples of the same data in NIF 2.0 and NIF 2.1. Note how some triples from the annotations go inside of the nif-ann:annotationUnit list.

NIF 2.0

[code]

NIF 2.1

[code]

[2016-07-21 14:54] katia-vistatec commented on #60
Hi Felix,
I have pushed the changes to the repository.

[2016-07-21 15:01] katia-vistatec commented on #56
Hi,
I have pushed the changes to the repository. See also #60.

[2016-07-21 15:09] fsasaki commented on #56
Looks good! Just one item: in its-term-info-ref you won't need &lt;>, that is instead of

You would have

[2016-07-21 15:11] fsasaki commented on #60
looks good, thanks!

[2016-07-22 08:31] fsasaki commented on #64
I made another try, see attached CURL requests.
xml-as-part-of-submitted-pipeline.txt
Here the XML is part of the submitted pipeline body. Here the XSLT transformation works.

xml-via-stored-pipeline
Here there is a pipeline with an ID, and the XML is in the submitted POST body. Here the transformation throws an error. Is there an error in the pipeline? See  the pipeline template at http://api-dev

[2016-07-25 09:01] jnehring opened #68 "[Load Balancer] API calls to non-existing endpoints"
Whenever an endpoint is called that does not exist (e.g. [this url](http://api-dev.freme-project.eu/current/blablabla)) then the user sees

[code]

and the logfile says

[code]

For some reason the load balancer maps all non existing API endpoints to itself. This should not happen. API calls to non-existing endpoints should go to the ExceptionHandlerService in FREMECommon and then produce a 404 -

[2016-07-25 12:06] ArneBinder commented on #51
Implemented management and transformation tests. The open documentation task is moved to https://github.com/freme-project/Documentation/issues/272.

[2016-07-25 12:06] #51 closed

[2016-07-25 13:32] jnehring commented on #68
done

[2016-07-25 13:32] #68 closed

[2016-07-26 19:41] ArneBinder commented on #64
I fixed the pipeline service: The internal mimeType (in and out) was set to turtle, so the xslt converter could not work. Furthermore, now it is possible to let the headers empty if you do not want to specify one. The Content-Type of the respone is taken as Content-Type for the next request.

I created [pipeline 63](http://api-dev.freme-project.eu/current/pipelining/templates/63). Try it:

[code]

[2016-07-27 05:04] fsasaki commented on #64
works, thanks!

2016-07-26 21:41 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-07-27 05:25] #60 closed

[2016-07-27 05:28] fsasaki opened #69 "[e-internationalisation] HTML output has "undefined" and misses Doctype statement"
See attached request. In the output the word "undefined" appears. Also, the HTML should start with the doctype statement

[request.txt](https://github.com/freme-project/basic-services/files/385345/request.txt)

[2016-07-27 06:13] fsasaki commented on #55
@ArneBinder and @katia-vistatec , is this is duplicate of https://github.com/freme-project/basic-services/issues/60 ?

[2016-07-27 06:23] fsasaki opened #70 "[e-internationalisation] embedded XML is escaped"
See attached curl request. The embedded XML is escaped after processing, e.g.

becomes

This creates issues for further processing of the embedded XML. Can the escaping be avoided?

[curl.txt](https://github.com/freme-project/basic-services/files/385414/curl.txt)

[2016-07-27 07:07] fsasaki commented on #69
It looks like the missing doctype statement is OK as is, no need to change that.

[2016-07-27 07:11] fsasaki commented on #64
In order to work with various XML formats I need to create a pipeline like this:

1. XSLT XLIFF2HTML with input / output types text/xml
2. e-Internationalisation with input / output text/html
3. XSLT HTML2XLIFF with input / output text/xml

Is that possible or will the pipeline after step two try to set the input type to text/html? @ArneBinder  and @jnehring , what do you think?

[2016-07-27 07:18] jnehring commented on #69
I cannot find the word "undefined" in the output. But the output still looks wrong. This input

[code]

produces this output. Note the content of the `<script`> tag starting from line 4.

[code]

[2016-07-27 07:22] jnehring commented on #55
Looks like a dublicate of #60. I tested it and I think the issue is resolved. @ArneBinder  can you please confirm and close the issue when it is fixed? This input

[code]

produces this output

[code]

[2016-07-27 07:25] jnehring commented on #69
My last comment about the XML content being escaped already has an own issue in #70. So it is not necessary to follow it in this issue.

But I cannot reproduce the problem of @fsasaki

[2016-07-27 07:27] jnehring commented on #70
I think the content of `<script>` tags should not be changed by e-internationalization. No matter if it is `<script type="application/xml">` script or another type.

[2016-07-27 07:29] jnehring commented on #64
I think it should be possible. When you explicitly set an input type then the pipeline should not override this setting.

[2016-07-27 07:34] fsasaki commented on #69
I also don't get the word "undefined" anymore, but now a different unclear behaviour: HTML is given back only as a fragment. See attached request and output.

[request-example-out.txt](https://github.com/freme-project/basic-services/files/385510/request-example-out.txt)
[request-example.txt](https://github.com/freme-project/basic-services/files/385511/request-example.txt)

[2016-07-27 07:35] fsasaki commented on #64
Thanks, I'll give it a try and open another issue if there are problems.

[2016-07-27 08:09] katia-vistatec commented on #55
Yes.

[2016-07-27 09:20] ArneBinder commented on #64
@fsasaki you have to set the output types (accept header). The input type will be taken from the response of the previous request.

[2016-07-27 09:42] ArneBinder commented on #64
As mentioned above at the moment it is just not possible to have a pipeline which accepts and produces html but uses xslt-converter to convert from html to xml and back, because of pipeline's internal roundtripping implementation.

[2016-07-27 10:27] fsasaki commented on #64
Thanks, Arne. When or in general could the pipeline internal roundtripping
be changed to allow for this functionality?

2016-07-27 11:42 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-07-27 12:35] ArneBinder commented on #64
We could remove the roundtrip functionality from the pipeline and parameterize the internalisation-filter: say we introduce a parameter `roundtrip` which can switch the default behaviour of the internalisation-filter, i.e. enable roundtripping with `roundtrip=true` also for blacklisted endpoints. @jnehring what do you say?

[2016-07-27 13:00] jnehring commented on #64
Lets discuss when you are back in the office.

[2016-07-27 13:23] jnehring commented on #58
this has been fixed in another issue

[2016-07-27 13:23] #58 closed

[2016-07-28 07:14] fsasaki commented on #64
I will be off next week. If you have time to continue work on this, attached is some data.

- pipeline.txt is the three pipeline steps as CURL requests
- input.txt is the input to the first step
- output-step1.txt is output of step1 and input to step2
- in step two FREME NER and e-internationalisation are used. output-step2-ideal.txt is what should come out of e-internationalisation. output-step2-

[2016-07-28 12:15] ArneBinder commented on #64
I think for this usecase there is no problem with the pipeline service, but with with XSLT Converter (html-to-xliff20). I tried to change the html parser validation police level, but it reports still parsing errors. Furthermore, there was an error in the internalization-filter, which caused wrong response content types, so the wrong mime type was send to the last request (convert html to xliff).

[2016-07-28 13:08] jnehring commented on #66
I dockerized both freme-cloud-worker and freme-cloud-broker. I started the broker container once and the worker container twice. They workers use the e-capitalization service. When I do multiple API requests to e-capitalization service of the load balancer then I get the correct output and the log files indicate that the requests are served by both workers round-robin.

Next steps

* The configura

[2016-07-28 14:19] ArneBinder opened #71 "[xslt-converter] fix html parsing"
This call:
[code]

produces:

[code]

with validator.nu validation policy level: ALLOW.

[2016-07-28 14:21] ArneBinder commented on #64
I opened #71 for the xslt-converter html parser bug.

[2016-07-29 05:08] fsasaki commented on #64
Thanks, @ArneBinder . On

e.g.

That is ok, XSLT 3.0 can handle this.

On the issue with

With

the e-internationalisation (I think) adds a meta tag that does not have a closing tag. If the accept header is text/xml, this does not happen. But if the accept header is text/xml, the pipeline does not work either, see
http://api-dev.freme-project.eu/current/pipelining/templates/68

[2016-07-29 05:27] fsasaki commented on #64
[pipeline.zip](https://github.com/freme-project/basic-services/files/389927/pipeline.zip)

I got this to work with e-internationalisation now producing the right output, see attachment. I am using in step one the output type text/xml - here then the parser does not create the &lt;meta> tag that later creates the parsing error (in step 3).

If it would be possible to have a pipeline that takes as i

[2016-07-29 12:15] ArneBinder commented on #64
OK, I implemented this workaround by relaxing the mimeType forwarding: it is possible to overwrite it in the pipeline. Just a warning is logged if the mime types are not the same.

@fsasaki I created [pipeline 69](http://api-dev.freme-project.eu/current/pipelining/templates/69).

[2016-07-29 12:49] fsasaki commented on #64
Well done, thanks @ArneBinder ! Yes, we can close this.

[2016-07-29 12:49] #64 closed

[2016-07-29 15:18] #62 closed

[2016-08-01 13:09] ArneBinder commented on #71
I switched from html parser nu.validator to tagsoup. Now `html-to-xliff20` works as aspected.

[2016-08-01 13:09] #71 closed

[2016-08-01 13:42] ArneBinder commented on #55
@jnehring the output is still wrong for the input you mentioned above. Have a look at the first span that contains `Ai Weiwei`.

[2016-08-01 14:31] jnehring commented on #55
I just tried the service again. The output is

[code]

Which looks good IMO.

[2016-08-01 14:39] jnehring opened #72 "[Users] Add PUT user endpoint"
Create an API endpoint that allows changing a users password. The user needs to be authenticated to change his own password. Admin user can change all passwords.

[2016-08-01 15:11] jnehring opened #73 "[e-Internationalization filter] add parameter to switch on / off e-Internationalization"
e-Internationalization becomes active when the Content-Type header is text/html. This can also be the case when the XSLT converter is used to convert from html to xml. In this case e-Internationalization should not become active.

To overcome this problem please add a parameter useI18n with possible values true, false or undefined, with undefined being the default value. The parameter has the foll

[2016-08-01 15:19] jnehring opened #74 "[Pipelines] e-Internationalization in pipelines"
To enable roundtripping in pipelines the pipelines implement a certain logic [here](https://github.com/freme-project/basic-services/blob/master/controllers/pipelines/src/main/java/eu/freme/bservices/controllers/pipelines/core/PipelineService.java#L71).

Task 1: Currently this works only for HTML. It should work for all e-Internationalization formats. The formats for roundtripping should move to e-

[2016-08-01 15:30] jnehring commented on #55
It still does not work. @katia-vistatec can you please check whats wrong?

[2016-08-02 08:03] jnehring opened #75 "[nifconverter] add tika"
[Apache Tika](https://tika.apache.org/) will be integrated into the nifconverter in order to support more input formats. Using Tika the nifconverter can convert [many formats](https://tika.apache.org/1.13/formats.html) to NIF, e.g. PDF, all MS Office formats and many more.

[2016-08-02 08:07] katia-vistatec commented on #55
Hi.
What's wrong in the output?

[2016-08-02 08:13] jnehring commented on #55
Line 3 starts with a span tag. Line 2 ends right in the middle of an attribute, neither the attribute nor the span tag of line 2 are properly closed. The same happens between line 3 and 4. Line 4 contains twice the word "china". Line 5 does not look ok with `</span>">Chinese`.

[2016-08-02 08:41] katia-vistatec commented on #55
[issue55.txt](https://github.com/freme-project/basic-services/files/396167/issue55.txt)

[2016-08-02 08:46] katia-vistatec commented on #55
Hi Jan. I have this output with my local version which is different from the one on the repository (with a completely different algorithm).  I am obtaining this output with e-terminology service. I have only the term attributes. Are you using the same service for testing? If my solution is correct I should solve only one last problem (for instance if I have city and Capital city as enriched text I

[2016-08-02 08:46] katia-vistatec commented on #55
[issue55-out.txt](https://github.com/freme-project/basic-services/files/396179/issue55-out.txt)

[2016-08-02 14:55] ArneBinder commented on #72
This is implemented and documented in the authentication article and the interactive api doc.

[2016-08-02 16:18] ArneBinder commented on #72
@jnehring please review the [authentication article](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/authentication.html#optional-how-to-change-the-password-of-a-user) and the [api doc](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/User/put_user_username).

[2016-08-02 18:10] ArneBinder commented on #73
I added a **Note** to the first paragraph of the [internalization article](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/eInternationalisation.html) @jnehring please review it.

[2016-08-02 18:14] ArneBinder commented on #74
This is implemented.
I added content to the `Step 3` of the [pipeline tutorial](http://api-dev.freme-project.eu/doc/tutorials/pipeline-entity-link.html#) and the parameter `useI18n` to the pipeline endpoints in the api doc, @jnehring please review.

[2016-08-02 18:39] ArneBinder opened #76 "PUT /user never finishes"
On freme-dev it is not possible to change a password. On a local instance this does not happen.
Is this related to #57?
@jnehring any ideas?

[2016-08-03 07:39] jnehring commented on #76
I will investigate on this.

[2016-08-03 07:43] jnehring commented on #73
Thank you it looks good. Just a few remarks:

* The parameter should have three values true, false and undefined. The documentation (both API doc and the article) note only true and false. Please write about all three values.
* The API doc does not provide a default value. It should be "undefined".
* The data type of the parameter is "string" and not undefined in the API doc

[2016-08-03 07:45] jnehring commented on #72
This does not look right to me. It says

It is about deletion?

Further there is still a bug in this functionality (#76)

[2016-08-03 08:18] jnehring commented on #74
Ok! There are some remarks about documentation in #73 so we can close this issue.

[2016-08-03 08:18] #74 closed

[2016-08-04 07:35] jnehring commented on #69
I tested it and the issue is solved

[2016-08-04 07:35] #69 closed

[2016-08-04 07:36] jnehring commented on #70
The issue is solved. Thank you!

[2016-08-04 07:36] #70 closed

[2016-08-04 07:58] jnehring commented on #55
The output you posted (issue55-out.txt) looks fine, except that now e-Internationalization creates again the `<html>` tags that were not there before. I used /e-entity/freme-ner and still get odd output. This cURL

[code]

produces

[code]

This bit looks odd in line 6 : `Ai</span>_Weiwei"&gt;Ai Weiwei has been refused a six-month`.

And another thing that is odd: When I change the output to turtl

[2016-08-04 13:41] katia-vistatec commented on #59
Hi,
for this I have found the problem.

[2016-08-04 14:56] jnehring commented on #59
Did you fix the problem? It seems to me that the response time is still very long.

[2016-08-04 15:05] katia-vistatec commented on #59
I am fixing now.

[2016-08-04 15:23] katia-vistatec commented on #59
Pushed changes to repository.

[2016-08-04 15:26] katia-vistatec commented on #59
Now It seems to work.

[2016-08-08 09:35] jnehring commented on #52
@ArneBinder please try to re-enable the unit test. I think it is fixed through #59

[2016-08-08 09:35] jnehring commented on #59
Great! The response time is really fast now. So we can close the issue.

[2016-08-08 09:35] #59 closed

[2016-08-08 10:36] ArneBinder commented on #73
I modified the Note in the e-Internalization article and added the default value `undefined` to the swagger. @jnehring please have a look.

[2016-08-08 11:24] jnehring commented on #73
great thanks

[2016-08-08 11:24] #73 closed

[2016-08-08 11:45] jmschnei commented on #75
The Apache TIKA functionality has been added in the nif-converter endpoint. There are also two tests for validating it with MSWord and PDF files.

[2016-08-08 11:55] fsasaki commented on #75
Great work! Do you have a sample CURL request?

Best,

Felix

2016-08-08 13:45 GMT+02:00 Julian Moreno Schneider <notifications@github.com

[2016-08-08 12:09] ArneBinder commented on #52
@jnehring [The test](https://github.com/freme-project/basic-services/blob/master/filters/internationalization-filter/src/test/java/eu/freme/bservices/filters/internationalizationfilter/InternalizationFilterTest.java#L146-L157) still aborts with a timeout (at my local machine) like mentioned above.

[2016-08-08 12:13] ArneBinder commented on #72
The article is fixed. @jnehring Can we close this? The bug should be handled by #76.

[2016-08-08 12:17] jmschnei commented on #75
The curl request is:

curl -X POST -d @../src/data.pdf "http://localhost:8080/toolbox/nif-converter?informat=TIKAFile" -H "Accept: text/turtle"

The localhost should be modified using the server URL.

[2016-08-08 12:53] jnehring commented on #72
We can close this, the bug will be further followed in #76

[2016-08-08 12:53] #72 closed

[2016-08-08 12:54] jnehring commented on #52
@katia-vistatec can you please test why [the unit test](https://github.com/freme-project/basic-services/blob/master/filters/internationalization-filter/src/test/java/eu/freme/bservices/filters/internationalizationfilter/InternalizationFilterTest.java#L146-L157) does get the timeout? Maybe the bug in #59 is still not fixed.

[2016-08-09 08:15] jnehring opened #77 "[Pipelines] Allow parametrization"
Please allow query string parameters in the pipelines. An example is this pipeline:
[code]

A user can then perform an API request like this:

[code]

The system will then insert the parameters in the pipeline. Some more properties of the system:

* When a pipeline contains parameters which are not set via the query string then the endpoint should return status code 400 - bad request with a proper

[2016-08-10 10:35] katia-vistatec commented on #52
Hi,
It seems to me fixed. You can test it.

[2016-08-10 13:21] jnehring commented on #56
Works fine! @fsasaki can you please test and close the issue when everything is fine?

[2016-08-10 13:23] jnehring commented on #66
It did not work out to have a server that contains both configuration server and eureka node. But I think it is not necessary to provide these as basic services. One can always use these servers independently from the others.

This activity is delayed until september.

[2016-08-10 14:28] fsasaki commented on #56
Works fine, thanks.

[2016-08-10 14:28] #56 closed

[2016-08-11 07:28] jnehring commented on #75
How does tika determine the data format of the file? Depending on the file ending?

[2016-08-11 07:53] fsasaki opened #78 "pipelines with XSLT and XML / HTML processing"
I am trying to reproduce the pipeline discussed at
https://github.com/freme-project/basic-services/issues/64#issuecomment-236097614
see the attachment
https://github.com/freme-project/basic-services/files/389927/pipeline.zip
which gives the list of requests in CURL. @ArneBinder had created a pipeline that implements this, see
https://github.com/freme-project/basic-services/issues/64#issuecomment-2

[2016-08-11 08:19] jnehring opened #79 "[Pipelines] Pipeline does not work"
Why does this pipeline not work? When I execute the steps one by one then it works. When I change the last line from `http://api-dev.freme-project.eu/current/pipelining/chain` to `http://api.freme-project.eu/current/pipelining/chain` then it works. Tthe error message is

[code]

[code]

[2016-08-11 09:06] jnehring commented on #52
@bgrusdt please

* Remove remove the ignore annotation from [the unit test](https://github.com/freme-project/basic-services/blob/master/filters/internationalization-filter/src/test/java/eu/freme/bservices/filters/internationalizationfilter/InternalizationFilterTest.java#L146-L157).
* Test if the unit test works on your local machine
* Test if the unit test works on jenkins

[2016-08-11 09:09] ArneBinder commented on #79
@jnehring you have to set useI18n=false.

[2016-08-11 09:10] jnehring opened #80 "[e-Link] broken unit test"
A unit test in e-Link causes unstable builds in Jenkins:

[code]

@bgrusdt please find out what is wrong.

[2016-08-11 09:12] jnehring commented on #79
Can you please update the pipeline with useI18n=false?

It is ok when you do this when you are back in the office.

[2016-08-11 09:21] ArneBinder commented on #78
I think it is gone because of the persist parameter. But I dont understand its description (in the api-doc):

What is the id of your newly created pipeline? So I could have a look at it.

If you use any pipeline with xslt-converters now you have to submit 'useI18n=false' when you execute the pipeline to suppress e-Internalization.

[2016-08-11 09:25] ArneBinder commented on #79
It is not a problem of the pipeline, just add the parameter to the request. It cant live inside the pipeline.

[2016-08-11 09:32] fsasaki commented on #78
I have not yet uploaded the new pipeline. @jnehring kindly created a pipeline which works on freme live, but not freme dev, see https://github.com/freme-project/basic-services/issues/79

as Jan wrote

no hurry :)

[2016-08-11 11:56] bgrusdt commented on #52
I also get a time out for [the unit test](https://github.com/freme-project/basic-services/blob/master/filters/internationalization-filter/src/test/java/eu/freme/bservices/filters/internationalizationfilter/InternalizationFilterTest.java#L146-L157). .

[2016-08-11 12:02] bgrusdt commented on #52
I'm sorry, I didn't have the latest updates... so it does actually work, there is no timeout anymore.

[2016-08-11 12:08] bgrusdt commented on #52
On Jenkins, BasicServices is fine as well, so I will close this issue.

[2016-08-11 12:08] #52 closed

[2016-08-12 13:39] katia-vistatec commented on #55
@jnehring can you check if the output is correct now?

[2016-08-13 07:24] fsasaki commented on #55
Isn't it the underlying validator.nu library that add  the html tag etc.? See

https://github.com/freme-project/e-Internationalization/issues/31#issuecomment-169982438

[2016-08-15 07:54] jnehring commented on #55
The output is now:

[code]

[2016-08-15 08:31] katia-vistatec commented on #55
On Friday I hadn't this response.

[2016-08-15 09:25] jnehring commented on #79
This is not a bug, the pipeline was not configured correct. The working pipeline is (note the useI18n parameter in the last line):

[code]

[2016-08-15 09:25] #79 closed

[2016-08-15 11:46] jnehring commented on #28
basic version is working. next steps

* intype parameter can has value "url". Then the url is read from either "input" or "i".
* in the unit tests, please remove dependencies from external apis. the url input can come from the test helpers mockup endpoint. Use the e-Capitalization endpoint.
* Create one test with HTML document `<p>hello world</p>` and one with a plaintext document `hello world`.

[2016-08-15 12:36] jnehring commented on #55
The error parsing NIF happen due to another bug which I just solved. Now the output looks like this:

[code]

All problems mentioned above are solved. But for some reason the system adds a `body` and `html`tag. It did not do this 14 fays ago.

[2016-08-15 14:27] fsasaki commented on #55
Isn't the reason the underlying validator.nu library? See
https://github.com/freme-project/e-Internationalization/issues/31#issuecomment-169986530

[2016-08-16 07:52] jnehring commented on #75
I installed the codes on freme-dev. They do not work. This CURL

[code]

produces

[code]

What is wrong?

Another question: Did you write documentation about this in the DKT documentation somewhere that we can reuse in the FREME documentation?

[2016-08-16 08:22] jmschnei commented on #75
The problem is that the endpoint expects a Multipart Request. In order to perform it using CURL it should be specified the -F/--form parameter. This is a working request.

curl -X POST -F "inputFile=@source_pdf.pdf" "http://api-dev.freme-project.eu/current/toolbox/nif-converter?informat=TIKAFile" -H "Accept: text/turtle"

The file format is automatically determined by TIKA and the supported format

[2016-08-16 09:00] jnehring commented on #75
Thank you. I added support for the prefix parameter to the nif converter.

[2016-08-16 09:16] bgrusdt commented on #28
It is implemented, [see here](https://github.com/freme-project/basic-services/tree/master/filters/urlsupport-filter/src/main). @jnehring  can you have a look at it please? Thanks.
I have included the filter into freme-parent. Shall I include the dependency  in any freme-package?

[2016-08-16 09:52] jnehring commented on #77
This functionality should be available for

* parameters
* headers
* endpoint

It should also be possible to set a parameter like this: "endpoint": "http://abc$param$"
Further it should be able to escape the `$` sign.

[2016-08-16 11:20] jnehring commented on #28
Thank you. Please add this functionality to the freme packages

* freme-full
* broker-local
* broker-dev

Then I can test it.

[2016-08-16 12:36] ArneBinder commented on #80
Is this a duplicate of https://github.com/freme-project/e-services/issues/28?

[2016-08-16 12:41] jnehring commented on #80
right this is a dublicate

[2016-08-16 12:41] #80 closed

[2016-08-16 17:19] ArneBinder commented on #77
@jnehring this is implemented, please have a try.

[2016-08-16 18:31] fsasaki commented on #77
Sorry, jumping in :)

it works, see below:

curl -X POST -H "Content-Type: text/xml" -d '<xliff version="2.0"
xmlns="urn:oasis:names:tc:xliff:document:2.0" srcLang="en"
trgLang="fr"><file id="f1">  <unit id="u1">   <segment>  <source>We very
much welcome you in the city of Prague, a home of XML!</source> </segment>
</unit></file></xliff>' "
http://api-dev.freme-project.eu/current/pipelining/chain/

[2016-08-16 19:03] ArneBinder commented on #77
This is a general pipeline issue. I could reproduce the error when calling without parametrization. Try:

[code]

[2016-08-16 19:54] fsasaki opened #81 "[Pipelines] error produced by individual pipeline steps are not part of the output"
See an example at https://github.com/freme-project/basic-services/issues/77#issuecomment-240204372

[2016-08-16 19:55] fsasaki commented on #77
Thanks - I created
https://github.com/freme-project/basic-services/issues/81
to keep track of this.

2016-08-16 21:03 GMT+02:00 ArneBinder <notifications@github.com>:

[2016-08-16 21:49] ArneBinder opened #82 "[internalization-filter] errors produced when using roundtripping are not forwarded correctly"
When the main request fails during roundtripping, the error message is tried to convert back from turtle to the input format. Try this:

[code]

result:

[code]

This causes the bug descibed [here](https://github.com/freme-project/basic-services/issues/77#issuecomment-240194629).

[2016-08-16 22:02] #82 closed

[2016-08-16 22:23] ArneBinder commented on #77
Can we close this?

[2016-08-16 22:26] ArneBinder commented on #81
This was caused by #82, not by the pipeline service. Can we close this?

[2016-08-17 07:13] jnehring commented on #77
I will test this

[2016-08-17 07:14] jnehring commented on #81
I also think that sometimes the pipeline does not report errors back to the user. When I find an example then I will open a new issue for it.

[2016-08-17 07:14] #81 closed

[2016-08-17 09:52] jnehring opened #83 "[Pipelines] Internal Server Error"
This request produces an internal server error:

[code]

Please find out what is wrong.

[2016-08-17 09:54] jnehring commented on #83
The problem is, that the endpoint  http://api.freme-project.eu/current/e-entity/freme-ner does not exist. But this error message should be forwarded to the user.

[2016-08-17 09:57] jnehring opened #84 "[e-I18n] annotations are not merged correct"
This API call

[code]

sends this document to FREME

[code]

And returns

[code]

The L of Leipzig is dublicated in the output.

[2016-08-17 15:39] bgrusdt commented on #28
Its done, @jnehring  you can test it.

[2016-08-18 07:44] fsasaki commented on #75
@jnehring , will this functionality be added to the documentation of the NIF converter
http://api-dev.freme-project.eu/doc/api-doc/full.html#!/Toolbox/NIF-Converter
?

[2016-08-18 07:58] jnehring commented on #67
This issue is obsolete: https://github.com/freme-project/technical-discussion/issues/121

[2016-08-18 07:58] #67 closed

[2016-08-18 08:31] jnehring commented on #75
Thanks for the reminder. The documentation issue got lost somehow. I created a new issue: https://github.com/freme-project/freme-project.github.io/issues/284

[2016-08-18 08:37] jnehring commented on #28
Can you please provide a cURL example how to use the service? I tried this but I get an InternalServerError:

curl -X POST -H "Content-Type: text/html" -H "input: http%3A%2F%2Fwww.tagesschau.de%2Fausland%2Fmallorca-tourismus-101.html" -H "Cache-Control: no-cache" -H "Postman-Token: 3f8d4dc8-8ca9-9e0e-1c8c-71689a59e07e" -d '' "http://api-dev.freme-project.eu/current/toolbox/nif-converter?intype=url

[2016-08-18 08:43] jnehring commented on #77
This cURL fails

[code]

with error message

[code]

What is wrong with the cURL?

[2016-08-18 08:52] bgrusdt commented on #28
[code]

[2016-08-18 09:01] jnehring commented on #28
Oh right sorry now I see that my cURL was wrong.

In case a user does not specify a URL when intype=url, can you please throw a BadRequestException with appropriate error message instead of internal server error?

Further please make a suggestion how to document this. I think the general information section in http://api-dev.freme-project.eu/doc/api-doc/full.html is a good place for this informati

[2016-08-18 09:20] jnehring commented on #57
I cannot reproduce this problem locally. I tried two requests, one took 90 seconds and the other 150.

[2016-08-18 10:06] ArneBinder commented on #77
Should be fixed.

[2016-08-18 10:07] bgrusdt commented on #28
I added the BadRequestException. @jnehring  Can you test it again please?
The [NIF-specification](http://persistence.uni-leipzig.org/nlp2rdf/specification/api.html) suggests that there is also the value *file* , which means that the input is retrieved from a local file. Shall we implement this as well?

My suggestion:
* intype
  * determines how the input is accessed or retrieved
  * possible valu

[2016-08-18 11:05] jnehring commented on #28
I think the "file" intype is applicable for command line applications only and is not applicable for us. Your suggestion looks good, please add it to the documentation without the "file" value.

[2016-08-18 11:19] jnehring commented on #77
Thanks. This works now. Last think to do: Please add a paragraph in the pipeline tutorial to document this: http://api-dev.freme-project.eu/doc/tutorials/pipeline-entity-link.html

[2016-08-18 11:31] bgrusdt commented on #28
Ok. This is done.

[2016-08-18 11:31] #28 closed

[2016-08-18 12:34] fsasaki commented on #28
sorry to ask the same question again ;) is this documented in the API documentation?

[2016-08-18 12:43] ArneBinder commented on #83
@jnehring This is not a problem of the pipelines service, but of error handling in live version. Please try this pipeline (calls `/e-entity/freme-ner` at api-dev):

[code]

[2016-08-18 12:58] bgrusdt commented on #28
Yes the description is in the new documentation, under [General Information](http://freme-project.github.io/api-doc/full.html#/General_Information).

[2016-08-18 13:09] fsasaki commented on #28
Great, thanks.

2016-08-18 14:58 GMT+02:00 bgrusdt <notifications@github.com>:

[2016-08-22 08:29] jnehring commented on #83
I think the pipeline should return which API endpoint has caused the failure. In a pipeline with multiple steps it is often not easy to find out which step causes the problem.

[2016-08-22 09:21] jnehring opened #85 "Compilation errors"
The basic services sparql-converters and postprocessing do not compile.

[2016-08-22 11:04] jnehring commented on #83
The output should look like this

[code]

[2016-08-22 11:48] #85 closed

[2016-08-24 09:31] jnehring opened #86 "Implement example pipelines"
Please implement example  pipelines for the semantics tutorial. The pipeline should enrich english test. Please create a postman collection that executes all these requests against the live api and attach the collection to this GitHub issue.

### pipeline 1: Enrichment pipeline

1. /e-entity/freme-ner/documents
2. /e-terminology/tilde
3. /e-translation/tilde
4. /e-link/documents (please choose a t

[2016-08-24 12:29] jnehring opened #87 "Pipelines on dev are gone"
The pipelines on the development server have disappeared. The MySQL table is empty and the [get pipelines api call](http://api-dev.freme-project.eu/current/pipelining/templates) shows 0 pipelines. The XSLT converters disappeared also but I could restore them from the [initializing freme](api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/initialising-freme.html) article.

http://api.f

[2016-08-24 13:34] fsasaki commented on #87
We had cited a pipeline in the KEKI paper, with the id 55. I had started to
work on pipelines for XSLT roundtripping, but have them still locally.

2016-08-24 14:29 GMT+02:00 Jan Nehring <notifications@github.com>:

[2016-08-25 09:21] bgrusdt commented on #86
[pipeline1.txt](https://github.com/freme-project/basic-services/files/436562/pipeline1.txt)

[2016-08-25 10:46] bgrusdt commented on #86
[pipeline2.txt](https://github.com/freme-project/basic-services/files/436750/pipeline2.txt)
[pipeline3.txt](https://github.com/freme-project/basic-services/files/436751/pipeline3.txt)
[pipeline4.txt](https://github.com/freme-project/basic-services/files/436752/pipeline4.txt)

[2016-08-25 11:02] bgrusdt commented on #86
[pipeline4.txt](https://github.com/freme-project/basic-services/files/436780/pipeline4.txt)
the output - format text/csv in the last step doesn't work yet

[2016-08-25 11:40] jnehring commented on #86
Thank you!
* when executing pipeline 3 i get an internal server exception.
* please use freme ner instead of dbpedia spotlight in pipeline 2 because i think freme ner is more reliable
* Here is the example for the xslt converter pipeline, please change it to freme-live
* When these things are done, please create the postman collection

[code]

[2016-08-25 11:41] jnehring commented on #87
@fsasaki  Is this the pipeline you miss? I found it in my skype log. We can add it to freme again and set the id to 55:

[code]

[2016-08-25 12:34] fsasaki commented on #87
yes, that's it, thanks.

2016-08-25 13:41 GMT+02:00 Jan Nehring <notifications@github.com>:

[2016-08-25 12:42] jnehring commented on #87
@bgrusdt please add the pipeline to the FREME dev and live APIs using the admin user and change the ID manually in the database to 55 on both systems.

[2016-08-25 13:56] jnehring opened #88 "[Pipelines] Pipeline and intype=url"
This pipeline does not work:

[code]

It causes an Internal Server Error.

[2016-08-25 13:58] jnehring opened #89 "[Pipeline] pipeline with intype url 2"
This cURL does not work, but I think it should work:

[code]

[2016-08-25 14:06] jnehring opened #90 "[XSLT converter] errors during stylesheet compilation"
This cURL

[code]

produces

[code]

[2016-08-25 14:26] bgrusdt commented on #86
This is pipeline 3 with html in the body instead of loading it with the intype parameter:
[code]

[2016-08-25 14:28] bgrusdt commented on #86
Wait for #88, #89, #90

[2016-08-25 15:29] bgrusdt commented on #87
@jnehring  This is a bit strange. From the API-documentation I can't upload this chain: This curl
[code]
 produces this error:
[code]

We got the same error in #90.

[2016-08-25 16:08] fsasaki commented on #87
Can you send me the stylesheets being used? I will have a look.

[2016-08-26 11:46] fsasaki commented on #87
@jnehring wrote at https://github.com/freme-project/basic-services/issues/87#issue-172938590

It looks like these XSLT stylesheets are out of date and that is why the pipeline does not work anymore. I will re-create the stylesheets.

[2016-08-26 12:24] fsasaki opened #91 "authentification seems not to work"
I cannot do authentification, i.e. I cannot get a token, on freme-dev. I am user fsasaki .

[2016-08-26 12:55] fsasaki commented on #87
I recreated the stylesheets. Since I cannot authenticate, see https://github.com/freme-project/basic-services/issues/91 , I cannot update them on freme dev. I created a local script that calls the stylesheets with a pipeline, and all works fine. @jnehring et al., can you re-create the pipeline with the attached stylesheets. The script is also attached, FYI.

[xslt-pipeline.zip](https://github.com/

[2016-08-26 13:50] fsasaki opened #92 "filters on freme dev partially borken"
See
https://api-dev.freme-project.eu/current/toolbox/convert/manage/place-and-lat-long

the counterpart in the life installation looks ok
https://api.freme-project.eu/current/toolbox/convert/manage/place-and-lat-long

[2016-08-26 14:46] fsasaki opened #93 "pipeline breaks with longer html"
See
http://api.freme-project.eu/current/pipelining/chain/37
and the two attached requests. The only difference between the is the length of the files processed. The longer file is less than 100K - is this still an issue?

[request-with-short-html-doc.txt](https://github.com/freme-project/basic-services/files/439490/request-with-short-html-doc.txt)
[request-with-long-html-doc.txt](https://github.co

[2016-08-29 07:45] jnehring commented on #86
Please create the Postman collection despite the other issues. You can leave out pipeline 5. When #88 and #89 are a problem somewhere then just do not use the intype parameter and submit HTML directly in the pipeline.

[2016-08-29 08:14] jnehring commented on #91
I created an auth token for the admin user and this worked. Unfortunately I cannot ask you to post the curl request here because this would reveal your password. We should try it together. We can also reset your password, maybe this is the problem.

[2016-08-29 08:33] jnehring commented on #87
I updated the two stylesheets. Stylesheet xliff20-to-html did not work before and works through the bugfix. html-to-xliff20 does not report any errors, but it produces only this document:

[code]

Here is a curl that causes the problem, even without the pipeline:

[code]

[2016-08-29 08:57] jnehring opened #94 "[XSLT converter] problems on freme-live"
I tried the tei2temp-html converter and it did work on freme-dev and it did not work on freme-live. So I replaced the filter on live with the one from dev and now it works on live.

Then I found out that the "identity-transformation" filter does work on dev and not work on live. This problem could not be solved by copying the filter.

Further the converter xliff20-to-html causes problems both on f

[2016-08-29 10:27] ArneBinder commented on #89
No, this can't work, because the urlsupport filter replaces the body (the pipeline) with the content of the url.

[2016-08-29 10:29] ArneBinder commented on #88
The reason is, that roundtripping in the pipeline service requires any content to convert to turtle, but the body of the first request is empty.

[2016-08-29 10:31] bgrusdt commented on #86
Here is the Postman Collection. It does not contain pipeline 5.
[Enrichment%20Pipelines.postman_collection.json.zip](https://github.com/freme-project/basic-services/files/442215/Enrichment.20Pipelines.postman_collection.json.zip)

[2016-08-29 10:53] ArneBinder opened #95 "[urlsupport filter] does not work as expected"
try this:

[code]

It produces:

[code]

This is because the parameter `intype` and especially `input` are not removed in the filter. So e-Entity, e.g., preferes the value of `input`, which is just the url, to the body which contains the content from the url.

[2016-08-29 10:59] ArneBinder commented on #95
Sorry, my mistake, there was a typo in my request.

[2016-08-29 10:59] #95 closed

[2016-08-29 12:18] jnehring commented on #88
Lets leave this bug open, currently we have more important things to do.

[2016-08-29 12:18] jnehring commented on #89
Lets leave this bug open. Currently we have more important things to do.

[2016-08-29 12:26] jnehring commented on #78
@fsasaki can we close this?

[2016-08-29 13:50] jnehring opened #96 "[Pipelines] API request does not work"
This cURL produces status code 503 (service unavailable). The error message is generated by the apache webserver.

[code]

[2016-08-29 15:17] jnehring commented on #93
The first pipeline step detects 1052 named entities, the second creates 1052 sparql queries and sends them to dbpedia. This takes a long time. There is a timeout of 60 seconds configured.

I transfered the pipeline to freme-dev and changed the timeouts to 600 seconds in three places on freme-dev

* apache mod_proxy
* timeout of the rest controller in application.properties
* timeout of requests in

[2016-08-29 16:22] ArneBinder commented on #90
I fixed the init-xsltconverter...sql scripts (had to remove all `\r`) and updated [the converter at freme-dev](http://api-dev.freme-project.eu/current/toolbox/xslt-converter/manage/xliff20-to-html). I'm not sure about [the converter at live](http://api.freme-project.eu/current/toolbox/xslt-converter/manage/xliff20-to-html), it still looks different than the dev version.

[2016-08-29 16:27] ArneBinder commented on #83
@jnehring should be implemented, can we close this?

[2016-08-30 07:33] jnehring commented on #83
Works fine, thanks.

[2016-08-30 07:33] #83 closed

[2016-08-30 07:34] jnehring commented on #94
Maybe related to #90 ?

[2016-08-30 09:45] jnehring opened #97 "Sometimes HTTPS does not work"
Sometimes HTTPS does not work on the API. This will cause problems from the documentation homepage.

Example:
http://api-dev.freme-project.eu/current/toolbox/convert/manage/place-and-lat-long works
https://api-dev.freme-project.eu/current/toolbox/convert/manage/place-and-lat-long does not work

[2016-08-30 09:49] jnehring commented on #92
The filters were deleted for an unknown reason on freme-dev (see #87) and I restored them from the [backup](https://github.com/freme-project/basic-services/issues/api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/initialising-freme.html).

It looks as if an update on the SPARQL converters was not done correctly. So either the version on freme-dev is outdated or the version on freme-l

[2016-08-30 12:51] jnehring commented on #97
probably related to #286

[2016-08-30 14:39] jnehring opened #98 "[internationalization-filter] add nif-version parameter"
Already implemented in internationalziation, needs to be put in internationalization filter now.

[2016-08-30 16:05] ArneBinder commented on #77
The documentation issue moved to https://github.com/freme-project/freme-project.github.io/issues/289. @jnehring can we close this?

[2016-08-31 07:28] fsasaki commented on #90
yes, we can do that, thanks.

[2016-08-31 07:31] fsasaki commented on #78
yes, thanks.

[2016-08-31 07:37] fsasaki commented on #91
We can close this, after discussion with @jnehring I learnt that this is an issue with the documentation.

[2016-08-31 07:37] #91 closed

[2016-08-31 08:33] #78 closed

[2016-08-31 12:45] jnehring commented on #98
This is implemented. @katia-vistatec I dont know how to test, can you please verify? In a break point debugger I can see that the correct parameter is passed from internationalization-filter to internationalization.

[2016-08-31 12:53] katia-vistatec commented on #98
Which is the problem? What do I have to test?

[2016-08-31 12:57] jnehring commented on #98
Now the nif-version parameter gets forwarded from the internationalization-filter to internationalization. But I do not know what to look for or how to test it.

[2016-08-31 12:59] katia-vistatec commented on #98
in internationalization or internationalizations filter?

[2016-08-31 16:24] katia-vistatec commented on #98
The parameter needs to be forwarded for the method convertBack() too because I have introduced nifVersion parameter for this method too.

[2016-09-01 07:35] jnehring commented on #98
Ok I will implement this

[2016-09-01 07:58] jnehring commented on #86
Thank you

[2016-09-01 07:58] #86 closed

[2016-09-01 08:02] jnehring opened #99 "[Pipelines] create pipeline does not work"
This cURL (auth token replaced)

[code]

produces

[code]

What is the problem?

[2016-09-01 08:03] jnehring commented on #87
waits for #99

[2016-09-01 08:23] jnehring commented on #97
The problem is not in the API. The problem is in the API doc. From the https version of the API doc you cannot do API calls to the http version and vice versa.

The live documentation is always https so it always calls the https API.

The dev version should always be http. It always calls the http version of the API.

The problem only occurs when http and https is mixed. I disabled https for freme

[2016-09-01 08:23] #97 closed

[2016-09-01 09:43] katia-vistatec opened #100 "itsrdf:taAnnotatorRef : insertion of attribute in html markup after round-tripping"
When e-Internationalization processes some input, it may add this attribute to the outer most tag. Like the “html” tag when we process a whole HTML document.

[2016-09-01 09:45] katia-vistatec commented on #100
Which should be the value?Can you give me an example? @fsasaki

[2016-09-01 10:01] fsasaki commented on #100
See here https://www.w3.org/TR/its20/#its-tool-annotation
and
https://www.w3.org/TR/its20/#EX-its-tool-annotation-html5-1
the example shows tool annotation after machine translation. For tool annotation after e-entity one needs to add text-analysis|tool-identifier to the attribute, separated via "|". It is also important to just add these  values and not override an existing value from e.g. machin

[2016-09-01 11:08] jnehring commented on #98
I added the new parameter. But the unit tests of internationalization-filter fail. I do not know what is wrong. @katia-vistatec  can you please check? I think I set the parameter correctly. Currently the tests do not set the parameter, therefore they use nif-version 2.0

The codes are located in a new branch "nif-version".

[2016-09-01 11:18] katia-vistatec commented on #98
Ok

[2016-09-01 11:55] katia-vistatec commented on #98
The problem seems to be the use of prefix with the version information @prefix nif:   <http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core/2.0> .
When it looks for nif:wasConvertedFrom it doesn't find anything and so it gives a null skeleton string and an error. If it can't work using prefix with nif version I create a nif file without specifying the version in the prefix, as before.

[2016-09-01 15:29] katia-vistatec commented on #100
Is there a service I can use currently that produces a nif file with entity annotations?

[2016-09-02 04:38] fsasaki commented on #100
sure, that is FREME NER or dbpedia spotlight. So in e-internationalisation you can check: is the output coming from dbpedia spotlight? Then add text-analytics|dbpedia-spotlight to the attribute.

[2016-09-02 08:36] katia-vistatec commented on #100
dbpedia spotlight I can use locally so it is ok for debugging but yesterday did not work.

[2016-09-02 13:12] fsasaki commented on #100
can you use freme ner instead?

[2016-09-02 13:14] katia-vistatec commented on #100
I use locally broker-local and there isn't freme-ner in broker-local.

[2016-09-02 13:25] fsasaki commented on #100
OK. for testing, can you have an HTTP request to freme-ner?

2016-09-02 15:14 GMT+02:00 katia-vistatec <notifications@github.com>:

[2016-09-05 07:41] jnehring commented on #100
DBpedia spotlight does not work occasionaly. Right now it works so you can use it now.

I added FREME NER to the freme-local installation. But it is only a proxy endpoint and proxies to freme-ner-dev. I think that e-Internationalization is therefore not executed on the local installation, but on the remote installation of freme-ner-dev so it might not be suitable for development of e-International

[2016-09-05 08:09] jnehring commented on #93
In last developers call @m1ci said he will check if the implementation of e-Link can be speed up somehow. Possibilities to explore from what I recall from the discussion:

1) reduce the number of sparql queries, by fetching information about multiple links in one go
2) implement caching / avoid redundant calls about the same link

[2016-09-05 08:20] jnehring commented on #98
I tested this using the nif-converter endpoint:

[code]

produces

[code]

This NIF is generated by e-Internationalization from the input html. It should be nif 2.1

[2016-09-05 08:22] jnehring opened #101 "[e-Internationalization] html conversion is broken"
[code]

returns

[code]

The bug is that the nif:isString property should contain plaintext only, but now it contains html markup also.

[2016-09-05 08:23] jnehring commented on #77
this issue is finished

[2016-09-05 08:23] #77 closed

[2016-09-05 09:12] jnehring opened #102 "[pipelines] change POST and PUT pipeline"
The body of the request should contain the serialized requests only. Parameter "description" can be set via query string anyways. In addition to this, parameter "label" needs to be moved from the json field in the body to a required query string parameter.

This needs changes in

* POST / PUT /pipelines/templates controller
* API documentation of these two endpoints

[2016-09-05 09:20] jnehring commented on #99
This json body is not correct, see https://github.com/freme-project/basic-services/issues/102

[2016-09-05 09:20] #99 closed

[2016-09-05 09:31] jnehring commented on #94
Please create a table

| converter | freme-dev | freme-live |
| --- | --- | --- |
| xslt20-to.html | works | does not work |
| ... | works | does not work |

When something does not work please check if this is due to outdated data or what is the problem.

[2016-09-05 11:21] katia-vistatec commented on #101
curl -X POST -H "Content-Type: text/html" -H "Cache-Control: no-cache" -H "Postman-Token: 72d743e7-4113-ab53-6974-ec3e0b3d465e" -d "<p>hello world</p>" "http://api-dev.freme-project.eu/current/toolbox/nif-converter"

[2016-09-05 12:53] jnehring commented on #101
ups. sorry this was my mistake

[2016-09-05 12:53] #101 closed

[2016-09-05 16:12] ArneBinder commented on #102
This is implemented. @jnehring can we close it?

[2016-09-05 16:37] ArneBinder commented on #90
I updated the converter at live. But because of some bug fixes which are not released yet, the output of the request above is still incorrect at live. Nevertheless, @jnehring can we close this?

[2016-09-05 17:06] ArneBinder commented on #94
I added some example requests (including example input data) to [the postman collection](https://api-dev.freme-project.eu/doc/resources/postman/FREME.postman_collection.json), but we still need example input for `xslt-30-test`.

[2016-09-06 07:46] jnehring commented on #102
Thanks Arne. I leave this ticket open to remind me of the database change in the next release.

[2016-09-06 07:47] jnehring commented on #90
I leave it open so I can test it at next release.

[2016-09-06 08:06] jnehring opened #103 "[xslt converter] html-to-xliff20 converter does not work"
This curl

[code]

produces this response

[code]

The result empty. It should be a whole XLIFF 2.0 document instead.

The other converters work fine one dev (see #94) so I guess that the stylesheet is broken.

[2016-09-06 08:06] jnehring commented on #94
\r should be no problem.

It is odd that the converters work on dev and do not work on live because the xslt converter source code did not change since the last release. But maybe this is some side effect with e-Internationalization or something similar.

Because if html-xliff20 i created #103

[2016-09-07 07:39] jnehring opened #104 "[SPARQL filters] test compatibility with NIF 2.1"
We need to test if the SPARQL filters work with NIF 2.1.

[2016-09-07 13:52] ghsnd opened #105 "[e-Internationalization] Missing tags"
Hi,

I have a HTML page here:
[intro.html.txt](https://github.com/freme-project/basic-services/files/459237/intro.html.txt).

It starts with

[code]
When I run e-Entity like this:

    curl -X POST --header 'Content-Type: text/html' --header 'Accept: text/html' -d @intro.html.txt 'https://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=spot%2Clink'

I get

[2016-09-07 14:41] katia-vistatec commented on #105
I tried too using http://api-dev.freme-project.eu/current but I receive a bad request error. It is strange because if you have a <!DOCTYPE HTML> in your document it is preserved. I don't know why developer version does not work.
I remember a similar issue:
https://github.com/freme-project/basic-services/issues/55 I solved but even trying that curl I receive the same error. So I think it is fixed b

[2016-09-12 13:22] jnehring opened #106 "[e-internationalization] wrong nif prefix"
The NIF generated by e-Internationalization produces the wrong prefix.

[code]

produces

[code]

The prefix should be

[code]

[2016-09-12 13:44] ArneBinder commented on #106
Should be fixed, @jnehring please review.

[2016-09-14 14:47] jnehring commented on #87
@ArneBinder please add the pipeline from [this comment](https://github.com/freme-project/basic-services/issues/87#issuecomment-242357479) and change the id to 55.

[2016-09-14 14:50] jnehring commented on #92
@ArneBinder please

* replace the place-and-lang-long sparql converter on freme-dev with the one from freme-live.
* replace the same converter in [init-sparqlconverters.sql](https://raw.githubusercontent.com/freme-project/freme-packages/master/broker-local/src/main/resources/init-sparqlconverter.sql) with the converter from live

[2016-09-14 14:58] jnehring commented on #98
i tested again, this works now

[2016-09-14 14:58] #98 closed

[2016-09-14 15:01] jnehring commented on #103
@fsasaki do you know what is wrong here?

[2016-09-14 15:03] jnehring commented on #96
it works now

[2016-09-14 15:03] #96 closed

[2016-09-14 15:38] fsasaki commented on #103
[Archiv.zip](https://github.com/freme-project/basic-services/files/472545/Archiv.zip)
I just tried this with an XSLT processor on my machine and it worked with the attached input, output and XSLT stylesheet. I had issues with updating the stylesheet on the freme dev server ("unauthorized") - Jan, can you give it a try?

[2016-09-15 08:08] jnehring commented on #103
I updated the SPARQL converter. You got access denied because the converter is assigned to user admin and you cannot change another users sparql converters.

At first it did not work. Then I found out that the curl request in the beginning of this issue does not work correct. I used this one and it worked fine:

[code]

SO this issue is solved

[2016-09-15 08:08] #103 closed

[2016-09-16 10:18] katia-vistatec commented on #53
In NifConverter the private convert2Nif method is called with the fourth argument (a LocaleId) null, arbitrarily. Further a null value of the LocaleId defaults to "en".

[2016-09-16 16:06] katia-vistatec commented on #42
[nifConvertedFile1474040845169.txt](https://github.com/freme-project/basic-services/files/477233/nifConvertedFile1474040845169.txt)

[2016-09-16 16:10] katia-vistatec commented on #42
I fixed in e-internationalization. The result is the attached file. Testing with toolbox I see that there is still the wrong prefix of nif with the nif version appended:
@prefix nif:   <http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core/2.0#> .
The nifConverted file hasn't got the nif version.

[2016-09-17 11:46] ArneBinder commented on #42
@katia-vistatec where exactly does the wrong prefix occure? Can you post a curl request so I can reproduce it? Thanks!

[2016-09-19 14:32] ArneBinder commented on #92
I replaced the filter. @jnehring can we close this?

[2016-09-19 14:39] ArneBinder commented on #87
@jnehring I created the pipeline, see [here](https://api-dev.freme-project.eu/current/pipelining/templates/55).

[2016-09-19 15:03] jnehring commented on #87
thank you. lets hope that no other important pipelines got lost.

[2016-09-19 15:03] #87 closed

[2016-09-20 16:21] ArneBinder commented on #104
[sourcelang-targetlang](https://api-dev.freme-project.eu/current/toolbox/convert/manage/sourcelang-targetlang) uses RFC5147String, but the other filters seem to be fine. But I did not test them.

[2016-09-22 16:41] ArneBinder commented on #105
@m1ci do you have still this problem? I get for the following for your request submitted to freme-dev (which looks fine to me):

[code]

Can we close this?

[2016-09-22 18:55] m1ci commented on #105
@ghsnd can you check again if everything is as expected?

[2016-09-25 13:45] fsasaki commented on #75
I tried

and it works. If I try the same with the informat TIKAFile, I get

It would be great to be able to use TIKA without having to call explicitly the NIF conversion endpoint. Is that feasible?

[2016-09-26 08:11] jnehring opened #107 "[nifconverter] Make TIKA converter a filter"
In #75 @fsasaki suggested to use the TIKA nifconverter without a pipeline. So with a single API call with informat=TIKAFile can convert e.g. PDF to Turtle and enrich it.

This will require us to write a filter that becomes active whenever informat=TIKAFile

[2016-09-26 08:12] jnehring commented on #75
I created a new issue for this: #107

I hope we can find the time to implement this.

[2016-09-26 08:12] #75 closed

[2016-09-26 11:48] fsasaki opened #108 "Allow TIKA to handle HTTP POST body (not only multipart request)"
Goal of this issue: allow usage of TIKA with HTTP POST body, without multipart request.

See current implementation using TIKA here
https://github.com/freme-project/basic-services/issues/75

[2016-09-26 12:24] fsasaki opened #109 "missing sparql converter"
I had created a while ago a sparlq filter
freme-ner-output-as-web-annotation
see the request referenced here
https://lists.w3.org/Archives/Public/public-annotation/2016Apr/0041.html
it seems the filter is gone (both in freme dev / freme life) - is there the change of having a local copy if it somewhere?

[2016-09-26 12:51] jnehring commented on #109
I recovered it from a database backup from july and wrote it to FREME DEV and FREME LIVE.

http://api-dev.freme-project.eu/current/toolbox/convert/manage/freme-ner-output-as-web-annotation

Should this converter be part of [initialising freme](api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/initialising-freme.html) ?

[2016-09-26 13:24] fsasaki commented on #109
great, thanks. Yes, that should be in initialising freme.

[2016-09-26 13:25] fsasaki commented on #109
p.s. this request

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=Berlin&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=all&filter=freme-ner-output-as-web-annotation

works, for freme live I get an error

http://api.freme-project.eu/current/e-entity/freme-ner/documents?input=Berlin&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=all&filt

[2016-09-26 13:42] jnehring commented on #109
The filter was installed twice. I deleted one of them. Now your request works.

@bgrusdt please add the filter to [initialising sparql converters](https://raw.githubusercontent.com/freme-project/freme-packages/master/broker-local/src/main/resources/init-sparqlconverter.sql)

[2016-09-26 13:52] fsasaki commented on #109
Great, thanks!

[2016-09-26 13:55] jnehring commented on #109
reopening the issue to remind @bgrusdt to add the filter to initialising freme.

[2016-09-26 14:41] jnehring commented on #90
This works after the release

[2016-09-26 14:41] #90 closed

[2016-09-26 14:56] jnehring commented on #94
The converts still dont work on freme-live

[2016-09-26 20:19] ArneBinder commented on #94
@jnehring the reason is that `/toolbox/xslt-converter/.*` is not in the `freme.einternationalization.endpoint-blacklist` of freme-live.

[2016-09-27 06:44] ghsnd commented on #105
Looks good now!

[2016-09-27 06:44] #105 closed

[2016-09-27 07:43] jnehring commented on #94
thanks i will try this.

[2016-09-27 08:25] jnehring opened #110 "[XSLT converter] xslt-with-param does not work"
The XSLT converter xslt-with-param does not work on freme-dev and freme-live.  This CURL

[code]

produces

[code]

[2016-09-27 08:26] jnehring commented on #94
I added the configuration. Now tei2temp-html, identity-transformation, html-xliff-20, xliff20-to-html work. xslt-with-param does not work. I raised #110 for xslt-with-param, this issue is finished

[2016-09-27 08:26] #94 closed

[2016-09-27 11:57] ArneBinder commented on #110
I think it works fine. When you have a look at [the converter](https://api-dev.freme-project.eu/current/toolbox/xslt-converter/manage/xslt-with-param), just the value of the parameter 'myparam' is printed, which can be set when the user submits a value for it, otherwise it defaults to 'set internally'. In general, this converter was just created to have a (very) simple example to demonstrate the u

[2016-09-27 13:55] jnehring commented on #110
oh cool. so it is not a bug but a feature. thanks @ArneBinder  :)

[2016-09-27 13:55] #110 closed

[2016-09-27 14:06] #102 closed

[2016-09-28 08:49] jnehring commented on #93
any update here?

[2016-09-28 12:35] jnehring opened #111 "[e-Internationalization] add itsrdf:taAnnotatorRef to output html"
When e-Internationalization does roundtripping and during creation of the output HTML an annotation has the property itsrdf:taAnnotatorsRef then this should be added to the output HTML. itsrdf:taAnnotatorsRef is currently produced by FREME NER, Tilde e-Translation and Tilde e-Terminology when nif-version is set to 2.1.

Information about the output HTML can be found here: https://www.w3.org/TR/its

[2016-09-28 14:28] fsasaki commented on #111
Thanks, Jan, this is mostly correct. Small nit: the output should be

The reason to have `its-annotators-ref` is that HTML attributes are case insensitive and HTML does not deal with XML namespaces (its:).

[2016-09-28 14:31] jnehring commented on #111
ok good that you mention it, i did not read the documentation carefully enough.

[2016-09-28 14:32] fsasaki commented on #111
One more thing: if there is a HTML document processed, it is sufficient to output the its-annotators-ref attribute at the outmost element.

[2016-09-30 15:07] katia-vistatec commented on #111
I have tried this curl (locally):

curl -X POST --header "Content-Type: text/html" --data "@example.txt" --header "Accept: text/turtle" "http://localhost:8080/e-terminology/tilde?informat=text/html&outformat=text/turtle&source-lang=en&target-lang=nl&nif-version=2.1" > example-out.txt

[2016-09-30 15:08] katia-vistatec commented on #111
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
</head>

<body>
<h2>Heading of the document</h2>
<p>This sentence needs to be analysed</p>
<p>This is another sentence</p>
</body>

</html>
[example.txt](https://github.com/freme-project/basic-services/files/503249/example.txt)

[2016-09-30 15:12] katia-vistatec commented on #111
The same with this curl:

curl -X POST --header "Content-Type: text/html" --data "@example.txt" --header "Accept: text/turtle" "http://api-dev.freme-project.eu/current/e-terminology/tilde?informat=text/html&outformat=text/turtle&source-lang=en&target-lang=nl&nif-version=2.1" > example1-out.txt

[2016-09-30 15:21] katia-vistatec commented on #84
Hi Jan, not in my output. I don't get this error.

[2016-09-30 15:33] katia-vistatec commented on #111
Does e-Translation service work?I tries this curl and it does not work:

curl -X POST --header "Content-Type: text/html" --data "@example.txt" --header "Accept: text/turtle" "http://api-dev.freme-project.eu/current/e-translation/tilde?informat=text/html&outformat=text/turtle&source-lang=en&target-lang=de&nif-version=2.1" > example-tra-out.txt

[2016-09-30 15:33] katia-vistatec commented on #111
{
  "exception": "eu.freme.common.exception.ExternalServiceFailedException",
  "path": "/e-translation/tilde",
  "message": "External service failed: {\"Message\":\"System not available for requested language pair\"}",
  "error": "Not Found",
  "status": 404,
  "timestamp": 1475249555211
}

[2016-09-30 15:37] katia-vistatec commented on #111
I would like to have a nif produced by an e-service with annotatorsRef inside.

[2016-10-03 10:13] katia-vistatec commented on #111
Ok. Now I can see in Tilde Terminology Service the annotation.

[2016-10-04 08:21] jnehring commented on #111
Yes its:annotatorsRef is produced only when `nif-version=2.1` is set.

[2016-10-04 08:24] jnehring commented on #84
I tested and now it works.

[2016-10-04 08:24] #84 closed

[2016-10-04 12:33] ArneBinder commented on #88
You can get the `urlfilter` functionality (also in combination with roundtripping) when you store a pipeline which handles just turtle and call it via `pipelining/chain/{id}` with the request parameters `intype=url` and `input={YOUR_URL}`. Furthermore, you can set the `accept` header to `text/html` to get roundtripping funcitonaility. The same holds for #89.

Try adding this pipeline:

[code]

and

[2016-10-04 13:08] ArneBinder opened #112 "[urlsupport filter] missing content-type causes error"
Try this request (but use Postman, curl sets a default content-type):

[code]
I get:
[code]

This is because the page at `http://beautifulberlin.blogspot.de/2009/07/short-history-of-berlin.html` does not send a content-type header back, so the content-type variable is set to `null` [here](https://github.com/freme-project/basic-services/blob/master/filters/urlsupport-filter/src/main/java/eu/freme/b

[2016-10-04 13:16] jnehring commented on #112
Strings.isNullOrEmpty is fine. In general you should treat null values.

I think the current behaviour is fine, except for it should not crash. When no content-type is specified then the system should treat it as turtle. The API call works when I specify informat=text/html so we need to deal with the nullpointerexception only.

Does the API documentation mention that intype=url guesses the input f

[2016-10-04 14:57] katia-vistatec commented on #111
I pushed the changes to repository. You can test.

[2016-10-04 15:18] jnehring commented on #111
Thank you. It looks good. I enriched an HTML:

[code]

and it produced

[code]

@fsasaki you mentioned that it is sufficient to put the annotation to the outmost element. Is the current output ok?

[2016-10-04 15:50] fsasaki commented on #111
Hi Jan, sure, the output is OK. one could even have with your input the annotators-ref attribute at the div element:

[2016-10-04 15:51] katia-vistatec commented on #111
This is an HTML snippet. For an HTML document I have put the attribute inside the html tag.
Note that there is the problem of the tags introduced by the parser (for the html snippet): body, head and html. I should fix this.

[2016-10-04 16:07] fsasaki commented on #111
sure - in Jan's example call, the outmost element of the snippet was "div". One then can put the its-annotators-ref on "div". And you are right about a whole HTML element and the "html" tag.

[2016-10-04 16:11] katia-vistatec commented on #111
Ok. So you mean that always it would be better to apply to the outmost element. I applied this only for the whole document. In the case of an HTML snippet I applied to the tag directly containing the text but I can change it.

[2016-10-05 07:37] jnehring opened #113 "[Pipelines] pipeline with nif-version=2.1 fails"
This curl

[code]

fails with error message

[code]

It works when I remove nif-version=2.1 from both API calls.

[2016-10-05 07:43] fsasaki commented on #111
Yes, I would use the outmost element.

[2016-10-05 07:44] jnehring commented on #111
This can get complicated in pipelines when there are multiple tools that produce different itsrdf:annotatorsRef. Finding the outmost element can be tricky in these cases.

I tried to test this but found a bug that hinders this test: #113

[2016-10-05 07:50] katia-vistatec commented on #111
Is there a log of the error?

[2016-10-05 09:08] jnehring commented on #113
Error log:

[code]

and

[code]

[2016-10-05 09:08] jnehring commented on #111
Yes. I attached the error log to #113. So the problem seems to originate from within internationalization and not from within pipelines.

[2016-10-05 09:14] fsasaki commented on #111
that is true. On the other hand, having its-annotators-ref on each element may blow up large documents a lot.

[2016-10-06 10:46] katia-vistatec commented on #113
Hi, I tested using these two requests in sequence:

curl -X POST --header "Content-Type: text/html" --header "Accept: text/html"  --header "Cache-Control: no-cache" --data "@input.txt" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=spot%2Clink&nif-version=2.1" > output.txt

curl -X POST --header "Content-Type: text/html" --header "Accept: tex

[2016-10-06 10:49] katia-vistatec commented on #111
Can you test it again (for the case of HTML snippet)

[2016-10-06 11:55] jnehring commented on #111
Now the output is

[code]

This looks good to me.

I leave the issue open so we can see how the system deals with different its-ta-annotators-ref annotations. This waits for #113.

[2016-10-06 11:57] katia-vistatec commented on #111
Isn't issue https://github.com/freme-project/basic-services/issues/113 solved?

[2016-10-06 12:04] jnehring commented on #113
The error happens when executing the pipeline. I could not reproduce it using individual curl commands. The pipeline does not convert from html -> turtle -> html in every step. The pipeline converts from html -> turtle in the beginning, then it performs all pipeline steps with turtle and in the end it converts back to html.  So the CURL commands are

curl -X POST --header "Content-Type: text/html"

[2016-10-06 12:12] katia-vistatec commented on #113
Basing on the Log it is java.lang.NumberFormatException that occurs in HTMLBackConverter.java so in the second step of the pipeline when calling terminology and in particular when getting the begin index of "//freme-project.eu/#offset_38_45".

[2016-10-06 14:38] katia-vistatec commented on #113
I debugged locally using this curl:

curl -X POST -H "Content-Type: application/json" -H "Cache-Control: no-cache" -H "Postman-Token: cc799c16-5d39-accf-b81d-1aa4a48fb5c9" --data "@json.txt" "http://localhost:8080/pipelining/chain"

and with the json.txt attached  in which I use http://localhost:8080/e-terminology/tilde as the endpoint.
I found that tha nif version parameter that arrives to the In

[2016-10-06 14:38] katia-vistatec commented on #113
[json.txt](https://github.com/freme-project/basic-services/files/514022/json.txt)

[2016-10-06 15:11] jnehring commented on #113
Thanks for the investigation. This is a tough bug. The pipeline itself has no idea of the nif version. We can only guess the nif version by analyzing the nif content. I chose another solution. I scan all pipeline requests and if one of the requests contains a parameter "nif-version" then I submit this nif version to e-internationalization.

But I do not like this solution. Guessing the nif version

[2016-10-06 15:15] jnehring commented on #111
no #113 is not solved.

[2016-10-06 16:14] m1ci commented on #113
yes, see
https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.1

In the RDF you can see

[code]

which says that the context http://freme-project.eu/#offset_0_33 conforms to NIF 2.1. This should help.
Also, we agreed that default version is 2.0, and by

[2016-10-10 09:46] jnehring commented on #112
This behaviour is documented in the full api documentation. Please add an example curl request and a short explanation to [getting started for api users](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/gettingStarted_API-users.html) and link from the note in the api documentation to the article.

[2016-10-10 09:47] jnehring commented on #109
We will update the initialising freme sql files once in the end of the project and not for each filter separately. So this issue is finished.

[2016-10-10 09:47] #109 closed

[2016-10-10 12:42] jnehring opened #114 "Update CORS filter"
To fix problems

* https://github.com/freme-project/freme-project.github.io/issues/303
* https://github.com/freme-project/freme-project.github.io/issues/299

[2016-10-10 13:06] jnehring commented on #113
I added source code to guess the nif format. It checks if the version is annotated in the nif document. Further I added this code to the pipelines module. It still does not work although the error message has changed. A debug message says that it detects nif version 2.1 so it hands the right version internationalizationApi.convertBack(). The new version of pipelines is already merged in the master

[2016-10-10 13:14] katia-vistatec commented on #113
Hi Jan, from the attached log it seems that we have different versions of the source code.

[2016-10-11 08:12] jnehring opened #115 "[Pipelines] add nif-version parameter"
We need the nif-version parameter in pipelines as well. It determines the nif version that is submitted to e-Internationalization in the beginning and in the end of the pipeline. The nif-version parameter of individual pipeline requests is not influenced by the nif-version parameter of the pipeline. This will be a parameter similar to `visibility` or `persist` which gets his own field in the datab

[2016-10-11 08:13] jnehring commented on #113
Thank you for investigating on this. I think we should create a parameter nif-version for pipelines so we do not guess the parameter but explicitly set it. Therefore I created #115.

[2016-10-11 08:46] jnehring commented on #114
I updated the CORS filter and added more headers to `Access-Control-Allow-Origin`.

[2016-10-11 08:46] #114 closed

[2016-10-12 07:35] jnehring commented on #115
moved do #113

[2016-10-12 07:35] #115 closed

[2016-10-12 07:35] jnehring commented on #113
I put the solution here and close #115

We need the nif-version parameter in pipelines as well. It determines the nif version that is submitted to e-Internationalization in the beginning and in the end of the pipeline. The nif-version parameter of individual pipeline requests is not influenced by the nif-version parameter of the pipeline. This will be a parameter similar to visibility or persist w

[2016-10-12 13:12] jnehring commented on #113
For now we will not fix the bug.

[2016-10-12 13:12] jnehring commented on #111
This issue is finished. The problem with the pipelines is not a problem of this task.

[2016-10-12 13:12] #111 closed

[2016-10-12 13:22] katia-vistatec commented on #113
Ok.

[2016-10-12 15:06] fsasaki opened #116 "Internal server error with post processing filter"
See attached file and below request.

[2016-10-13 07:50] jnehring commented on #116
I can reproduce the bug.

It works when I remove informat and outformat parameters from URL and specify the accept header:

[code]

The stack trace:

[code]

[2016-10-13 11:49] fsasaki commented on #116
I still get the attached error with the attached curl request.

[curl-plus-output.txt](https://github.com/freme-project/basic-services/files/526986/curl-plus-output.txt)

[2016-10-13 12:22] fsasaki commented on #116
I still get the error message, with the request attached here https://github.com/freme-project/basic-services/issues/116#issuecomment-253491180

[2016-10-13 12:23] jnehring commented on #116
Sorry I assigned you too quickly and Jenkins was still updating the installation. Please try again.

informat and outformat are not valid parameters for the sparql filters. You have to set the informat and outformat via header.

I added some input validation, now your curl request produces

[code]

@fsasaki does this solve your problem?

[2016-10-13 13:32] ArneBinder commented on #113
@jnehring if this will be implemented and the pipeline model is changed, I think it would be really useful to put also `useI18n` into the pipeline.

But to fix this bug in general, I don't think so many changes are needed. The parameter `nif-version` has to be added to the endpoints `POST /pipelining/chain` and `POST /pipelining/chain/{id}`, they just forward it to [PipelineService.chain](https://

[2016-10-17 17:09] bgrusdt commented on #112
I added the [description](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/gettingStarted_API-users.html) , linked to it from the [full api documentation](https://api-dev.freme-project.eu/doc/api-doc/full.html#/General_Information) and changed the code such that no NullPointerException is thrown anymore.

[2016-10-18 08:23] jnehring commented on #112
thank you!

[2016-10-18 08:23] #112 closed

[2016-10-19 09:43] bgrusdt commented on #112
@jnehring We decided to change the behaviour such that now text/turtle is used as default Content-Type if the user does not specify it. I have changed this.  Now the call,
[code]
results in a 'Error parsing NIF-Input' - Error which is appropriate.

I have also adapted the [documentation](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/gettingStarted_API-users.html).

[2016-10-19 09:53] jnehring commented on #112
Thank you! Btw. it is not necessary to add a dynamic URL to each CURL example that uses freme-dev in the dev documentation and freme-live in the live documentation. You can point directly to the live version. But you can leave it like it is, it causes no problem. I just want to save you the extra work.

[2016-10-19 10:06] bgrusdt commented on #112
Thank you @jnehring, thats good to know.

[2016-12-03 14:55] fsasaki opened #117 "change references to blu.de"
In several parts of the code and of asserts (e.g. sparql queries) there are references to the current hosting service blu.de . e.g.

produces a template with id 301 which has the LDF endpoint

the data that is stored at blu.de needs to be moved and the references like the above need to be updated. This task is not specific to e-link, but all services and assets in general.

[2016-12-05 08:22] jnehring commented on #117
Good point. I think we need to

1) Create a proxy redirect on freme live, something like https://api.freme-projet.eu/triplestore -> http://rv2622.1blu.de:5000 .
2) Update all references to rv2622 server with this proxy redirect in the e-Link templates. Above URL would turn into https://api.freme-projet.eu/triplestore/dbpedia-types
3) Do a full text search in the source codes and the database dumps

[2016-12-05 14:47] jnehring commented on #55
I tested it and this issue is fixed now.

[2016-12-05 14:47] #55 closed

[2016-12-05 14:54] jnehring commented on #93
Pipeline 37 does not exist anymore. But one can reproduce the problem using [this curl request](https://github.com/freme-project/basic-services/files/631391/curl.txt).

The problem still occurs.

[2016-12-05 14:56] jnehring commented on #106
this is fixed

[2016-12-05 14:56] #106 closed

[2016-12-05 14:58] jnehring commented on #100
this is done

[2016-12-05 14:58] #100 closed

[2016-12-05 15:04] jnehring commented on #116
When I do the API request

curl -X POST -H "Content-type: text/turtle"  --header 'Accept: text/comma-separated-values' -d@out.txt "https://api-dev.freme-project.eu/current/toolbox/convert/documents/count-domains"

The request does not finish and it produces a lot of warnings like this

[code]

[2016-12-06 10:56] m1ci commented on #93
just did an optimization update at e-link to perform enrichment only on unique entities. In other words, if there are multiple occurrences of a same entity, the enrichment will be performed only once. @jnehring can you please test now?

[2016-12-07 13:34] jnehring commented on #93
I had issues executing the curl request I [posted earlier](https://github.com/freme-project/basic-services/issues/93#issuecomment-264874181). Therefore I created the pipeline id 56 on freme-dev that executes freme ner first and then e-link.

It still fails on the long document

curl -X POST -H "Content-Type: text/html" -d '@long-document.html' "http://api-dev.freme-project.eu/current/pipelining/ch

[2016-12-07 15:13] jnehring commented on #108
[NIFConverter controller](https://github.com/freme-project/basic-services/blob/master/controllers/nifconverter/src/main/java/eu/freme/bservices/controllers/nifconverter/NifConverterController.java) should have this behaviour:

* It will become active when informat=TIKAFile (this is the current behaviour)
* Check the content-type header, if it is a multipart request then execute the old code.
* if

[2016-12-07 19:22] fsasaki commented on #108
thanks, Jan. Is there an example for this in the documentation?

[2016-12-08 08:40] jnehring commented on #108
First @bgrusdt will implement the feature, then we will add it to the documentation.

[2016-12-08 12:47] bgrusdt commented on #116
@jnehring @fsasaki
The request does finish, but only after about 5 minutes. The input file is quite large, it has about 25000 lines, when the data is provided in chunks of about 5000 lines, the answer is returned quickly.

The warning is because of this value:
``` "<sourceDesc><p/></sourceDesc>"^^rdf:XMLLiteral . ``` which is inside:
[code]

[2016-12-08 12:48] #116 closed

[2017-01-05 13:05] jnehring opened #118 "Removed dependency on e-capitalization"
The unit test of urlsupport-filter used the e-capitalization filter from freme-examples. This created a circular dependency between freme-examples and basic-services. I removed the dependency on e-capitalization and commented out the unit test in urlsupport-filter in [this commit](https://github.com/freme-project/basic-services/commit/d36a6814b2f673bd4d93b420dab862305186edc4).

This issue is a rem

[2017-01-10 11:53] jnehring commented on #117
I worked on this:

* I created a proxy redirect from https://api.freme-project.eu/sparql to http://rv2622.1blu.de:8890/sparql
* Updated the documentation homepage where possible

Still pending

* https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-developers/howto-release.html . This will be done in https://github.com/freme-project/freme-project.github.io/issues/321
* The documentation h

[2017-01-12 08:32] jnehring commented on #118
e-capitalization is now released on maven central

[2017-01-12 13:32] bgrusdt commented on #118
This is done.

[2017-01-12 13:32] #118 closed

[2017-01-13 14:14] bgrusdt commented on #107
This is finished now, see the [code](https://github.com/freme-project/basic-services/tree/master/filters/tika-filter).

It does not work in combination with the url filter, unfortunately i couldn't find out why it does not work.

[2017-01-13 14:16] bgrusdt commented on #108
The basic version which fails for pdfs is still there, but now the tika-filter can be used when filename is set and informat=TIKAFile.

[2017-01-17 09:18] jnehring opened #119 "Upload Tika filter to nexus"
The Jenkins builds fail because no artifacts exist on nexus.

[2017-01-17 09:24] jnehring commented on #119
fixed

[2017-01-17 09:24] #119 closed

[2017-01-17 14:58] jnehring commented on #107
Does not work for me.

request:

curl -X POST -H "Cache-Control: no-cache" -H "Postman-Token: 18ea10b6-fdf9-e597-5066-ed7fb86fefbe" "http://rv1443.1blu.de/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&nif-version=2.1&informat=TIKAFile&filename=test.pptx"

response:

[code]

[2017-01-18 15:12] #104 closed

[2017-01-23 12:28] jnehring opened #120 "Problem in SPARQL converter"
[code]

produces

[code]

and log file

[code]

happens in all api endpoints that use the sparql converter. This leads to https://github.com/freme-project/freme-project.github.io/issues/332

[2017-01-23 13:25] jnehring commented on #120
The problem happens only when executing the OPTIONS http method, it works fine when I use POST, GET, ...

So the CORS pre-flight request fails when using this filter. Possible solution:

When the request is a pre-flight request, then it should not execute the filter because the request has no body anyways. This should be handled by the CORS filter which needs to move up in the filter hierarchy.

I

[2017-01-23 16:05] jnehring commented on #120
The bug is fixed on rv1443.1blu.de . I switched off the postprocessing filter for HTTP OPTIONS requests. We should include this bugfix in the ADAPT installation.

[2017-01-24 14:29] jnehring commented on #117
done

[2017-01-24 14:29] #117 closed

[2017-01-26 09:11] jnehring opened #121 "Migrate data from dev to live"
1)  sparql filter dkt-temp-output-as-web-annotation

2) pipeline nr. 9
http://api-dev.freme-project.eu/current/pipelining/chain/9?stats=false&useI18n=false

Uses an XSLT stylesheet that should be stored on dev.

3) XSLT filter tbx-to-schema-dot-org

This waits for https://github.com/freme-project/freme-ner/issues/175

[2017-01-26 09:48] jnehring commented on #108
Does not work for me.

[2017-01-26 10:55] bgrusdt commented on #108
In curl, -T should be used, in Postman I just used the binary option for the body. The following curl should work. I attached the test file I used.
[testdocx.docx](https://github.com/freme-project/basic-services/files/732092/testdocx.docx)

[code]

[2017-01-26 11:07] jnehring commented on #108
Ah ok I forgot the parameter filename. Thanks for the info.

This feature is documented here: https://freme-project.github.io/knowledge-base/freme-for-api-users/gettingStarted_API-users.html

So we can close this.

[2017-01-26 11:07] #108 closed

[2017-01-26 15:56] jnehring commented on #121
I restored the data from old database backups. Also I restored the XSLT stylesheet "e-terminology-to-schema-dot-org" which is used in the pipeline you mentioned.

@fsasaki I guess we should add this data to the FREME live installation at ADAPT also? Is this part of the official FREME distribution and should it there go also to the database files in [initialising freme article](https://freme-projec

[2017-01-26 19:16] fsasaki commented on #121
Thanks, Jan - yes, please add this to the live installation and the official FREME installation and the related article.

[2017-01-30 09:45] jnehring commented on #121
@munnellg please execute these 4 SQL queries in your MySQL database to add the missing resources to the live installation.

[2017-01-30 10:44] jnehring commented on #121
I updated the database dumps.

[2017-02-06 12:24] munnellg commented on #121
@jnehring This should be done now

[2017-02-06 13:13] fsasaki commented on #121
After the data base update I get with

https://api.freme-project.eu/current/toolbox/xslt-converter/documents/tbx-to-schema-dot-org?useI18n=false

and the attached input a 502 bad gateway. Does this request work for you
guys?

2017-02-06 13:24 GMT+01:00 Gary Munnelly <notifications@github.com>:

[2017-02-06 13:50] fsasaki commented on #121
Working now, issue probably was overlap with server re-start

[2017-02-06 13:50] munnellg commented on #121
Just want to clarify, I have updated with the first, second and fourth SQL statement as we opted not to execute the third during our call

[2017-02-06 14:17] fsasaki commented on #121
I tried

but I don't see the pipeline in the second statement. Where can I find it?

[2017-02-07 09:28] jnehring commented on #121
@munnellg added the pipeline

[2017-02-07 09:28] #121 closed

[2017-02-13 08:55] jnehring commented on #120
this bugfix introduced problems. i will roll it back.

[2017-03-09 09:59] jnehring opened #122 "Disable Unit Tests in User Controller"
Sometimes the API endpoints of the User API take forever or longer then usual timeouts to respond. This makes the unit tests fail. I disable these unit tests because the failing unit tests cause problems when working with the source codes.

See #57, #76

[2017-03-09 10:00] #122 closed